env/
venv/
.idea
db.sqlite3
__pycache__
university_management_service/__pycache__/
university/migrations/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
coverage.xml
*,cover
*.log
.git
settings.py
.DS_Store
university/static/our/pics
db.json
upload_db.json