Django==2.1.7
mysqlclient==1.4.2
wheel==0.32.3
gunicorn==19.9.0
daterange_filter==1.3.0
django-filter==2.1.0
django-filters==0.2.1
djangorestframework==3.9.4
djangorestframework-filter==0.2.2
djangorestframework-filters==1.0