{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projeto PTI-PTR</title>

    <link href="{% static 'template/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'template/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'template/css/datepicker3.css' %}" rel="stylesheet">
    <link href="{% static 'template/css/style.css' %}" rel="stylesheet">

    <link href="{% static 'our/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'our/css/posicao.css' %}" rel="stylesheet">

</head>
<body class="back_img">
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <form role="form" onsubmit="return false" name="login">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" id="username" placeholder="Username" name="username" type="text" autofocus=""
                                   required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="password" placeholder="Password" name="password" type="password" required>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="remember" type="checkbox" value="remember">Remember Me
                            </label>
                        </div>
                        <button type="submit" id="submit-button" class="btn btn-primary">Ok</button>
                        <button type="reset" class="btn btn-default">Limpar</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div><!-- /.col-->
</div><!-- /.row -->


<p id="demo"></p>


<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $('#submit-button').click(login);

    });

    function login() {
        email = $('#username').val();
        password = $('#password').val();
        $.ajax({
            type: "POST",
            url: '/',
            data: JSON.stringify({'username': email, 'password': password}),
            success: function (data) {
                if (data['message'] == "success") {
                    alert("success")
                    location.reload();
                } else if (data['message'] == "inactive") {

                } else {
                    alert("fail")
                }
            }
        });
    }
</script>
<script src="{% static 'template/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'template/js/bootstrap.min.js' %}"></script>
<script src="{% static 'our/js/login.js' %}"></script>


</body>
<footer class="rodape">
    <p>Photo by Martin Adams on Unsplash</p>
</footer>
</html>
