{% extends base_template %}


{% load i18n static %}

{% block title %}Alterar a minha pass{% endblock %}
{% block content_title %}<h1>Alteração de Passwords</h1>{% endblock %}


{% block breadcrumbs %}
    {% if roleName == "Admin" %}
    <div class="breadcrumbs">
    <a href="{% url 'home_a' %}">{% trans 'Home' %}</a>
    &rsaquo; Password change
    </div>
    {% else %}
            › Password change
    {% endif %}
{% endblock %}





{% block content %}
<div id="content-main">


<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						Por favor introduza os dados abaixo
						<span class="pull-right clickable panel-toggle panel-button-tab-left"></span></div>
					<div class="panel-body">

<form method="post">
{% csrf_token %}
<div>

<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>


<fieldset class="aligned wide">


    
    <div class="form-group">
    {{ form.old_password.errors }}
                            <label for="id_old_password">Antiga Password</label>
                            <input type="password" class="form-control" id="id_old_password" name="old_password" placeholder="Password" autofocus required>
							</div>
													<br>



<div class="form-group">
    {{ form.new_password1.errors }}
    <label for="id_new_password1">Nova Password</label>
                            <input type="password" class="form-control" name="new_password1" id="id_new_password1" placeholder="Password" required>

    {% if form.new_password1.help_text %}
    <div class="help">{{ form.new_password1.help_text|safe }}</div>
    {% endif %}
</div>

<div class="form-group">
{{ form.new_password2.errors }}
<label for="id_new_password2">Confirmar Nova Password</label>
                            <input type="password" class="form-control" name="new_password2" id="id_new_password2" placeholder="Password" required>
                          

    {% if form.new_password2.help_text %}
    <div class="help">{{ form.new_password2.help_text|safe }}</div>
    {% endif %}
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="Alterar" class="default">
</div>

</div>
</form></div>

</div>
				</div>
			</div><!--/.col-->






<script>
//$('dashboard #content').css({"width" : ""});
var li= document.getElementById("content");
console.log(li);
li.style.width= "70%";
</script>

{% endblock %}

