{% extends base_template %}


{% load i18n static %}

{% block title %}Alterar a minha pass{% endblock %}
{% block content_title %}<h1>Alteração de Passwords</h1>{% endblock %}


{% block breadcrumbs %}
    {% if roleName == "Admin" %}
    <div class="breadcrumbs">
    <a href="{% url 'home_a' %}">{% trans 'Home' %}</a>
    &rsaquo; Password change
    </div>
    {% else %}
            › Password change
    {% endif %}
{% endblock %}





{% block content %}
<div id="content-main">

<form method="post">
{% csrf_token %}
<div>

<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>


<fieldset class="module aligned wide">

<div class="form-row">
    {{ form.old_password.errors }}
    {{ form.old_password.label_tag }} {{ form.old_password }}
</div>

<div class="form-row">
    {{ form.new_password1.errors }}
    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
    {% if form.new_password1.help_text %}
    <div class="help">{{ form.new_password1.help_text|safe }}</div>
    {% endif %}
</div>

<div class="form-row">
{{ form.new_password2.errors }}
    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
    {% if form.new_password2.help_text %}
    <div class="help">{{ form.new_password2.help_text|safe }}</div>
    {% endif %}
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="{% trans 'Change my password' %}" class="default">
</div>

</div>
</form></div>


<script>
//$('dashboard #content').css({"width" : ""});
var li= document.getElementById("content");
console.log(li);
li.style.width= "70%";
</script>

{% endblock %}

