{% extends "teacher/base_t.html" %}
{% load i18n static %}

{% block title %}Alterar Turmas{% endblock %}

{% block content_title %}Alterar turmas{% endblock %}

{% block breadcrumbs %}
        › Alterar turmas
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}


{% block content %}


<div id="content-main">
	<div class="row" id="myrow">
            <div class="col-md-12">

				{% if finalList %}
                <div class="panel panel-default">
                    <div class="panel-body tabs">
                        <ul class="nav nav-tabs">
                            {% for obj in finalList %}

                            <li><a href={{obj.id}} data-toggle="tab">{{obj.subjectName}}</a></li>

                            {%endfor%}
                        </ul>
                        <div class="tab-content">
                            {% for obj in finalList %}
                            <div class="tab-pane fade" id={{obj.idNoHashTag}}>
                                <br>
								<table class="table">
										<thead>
											<tr>
												<th>Turma</th>
												<th>Alunos Inscritos</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											{% for tuple in obj.classesDict %}
											<tr>
												<td>{{tuple.0}}</td>
												<td>{{tuple.1}}</td>

												{% if tuple.1 == 0 and tuple.2 == True %}
												
												<td><button name ="{{obj.subjectName}}|{{tuple.0}}|{{tuple.2}}" type="button" class="btn btn-sm btn-danger">Fechar Turma</button></td>
												

												{% elif tuple.1 == 0 and tuple.2 == False %}
												
												<td><button name ="{{obj.subjectName}}|{{tuple.0}}|{{tuple.2}}" type="button" class="btn btn-sm btn-danger" style='background-color: green'>Abrir Turma</button></td>
												

												{% else %}
												<td></td>

												{% endif %}
											</tr>
											{%endfor%}
										</tbody>
								</table>
                            </div>
                            {%endfor%}

                        </div>
                    </div>
				</div>
				
				{% else %}
					<p>Nao existem alunos incritos em nenhuma das suas disciplinas.</p>
				{% endif %}
            </div>
		</div><!--/.row-->

</div><!--/.main-->
<script>

    $(document).ready(function(){
        console.log($('a[href="#tab1"]').html())

        $('li:has(a[href="#tab1"])').addClass('active')
        $('#tab1').addClass('in')
        $('#tab1').addClass('active')

		$("button").click(function(){

			button = this
			var info = button.name;
			console.log(info)
			let csrf = $("[name=csrfmiddlewaretoken]").val();
			$.ajax({
				beforeSend: function(xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", csrf)
				},
				type: "POST",
				url: 'alterar_turmas',
				data: JSON.stringify({'info': info}),
				success: function (data) {
					console.log(data)
					if (data['message'] == "success") {
						if (button.name.split("|")[2] == "True"){
							button.innerHTML = "Abrir Turma"
							button.style.backgroundColor="green";
							button.name = button.name.split("|")[0]+"|"+button.name.split("|")[1]+"|"+"False"

						}
						else if (button.name.split("|")[2] == "False"){
							button.innerHTML = "Fechar Turma"
							button.style.backgroundColor="red";
							button.name = button.name.split("|")[0]+"|"+button.name.split("|")[1]+"|"+"True"

						}
					}
					else {
							alert("Nao é possivel alterar a turma")
					}
				}
			});
		})


    });
  </script>

{% endblock %}