{% extends "teacher/base_t.html" %}
{% load i18n static %}

{% block title %}Consultar turmas{% endblock %}

{% block content_title %}Consultar turmas{% endblock %}

{% block breadcrumbs %}
        › Consultar turmas
{% endblock %}

{% block content %}

<div id="content-main">
		
		<div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Disciplinas</div>
                        <div class="panel-body">
                            <button type="button">Projeto Tecnologias de Informação</button>
							<button type="button">Projeto Tecnologias de Redes</button>
                        </div>
                    </div>
                </div>
        </div>
            
            

		<style>
		
			#box1 {
				
			}
			
			#box2 {
				float: left;
				max-width: 20%;
			}
			
			#box3 {
				float: right;
				width: 80%;
			 }
			
			.dropdown {
			  position: relative;
			  display: inline-block;
			}

			.dropdown-content {
			  display: none;
			  position: absolute;
			  background-color: #f9f9f9;
			  min-width: 160px;
			  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			  padding: 12px 16px;
			  z-index: 1;
			}

			.dropdown:hover .dropdown-content {
			  display: block;
			}
			
			.truma {
			margin-top: 5px;
			
			.but {
			align: center;
			}
			
			
		</style>
		

		
		<div class="row" id='box2'>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">TURMAS</div>
						<div class="panel-body">
							<div class='truma'>
								<div id='turma' class="nomeTipo">TEORICAS</div>
								<button class='but' type='button'>T21</button>
								<button class='but' type='button'>T22</button>
							</div>
							<div class='truma'>
								<div id='turma' class="nomeTipo">PRATICAS</div>
								<button class='but' type='button'>TP21</button>
								<button class='but' type='button'>TP22</button>
								<button class='but' type='button'>TP22</button>	
							</div>
							<div class='truma'>
								<div id='turma' class="nomeTipo">LABORATORIAIS</div>
								<button class='but' type='button'>PL21</button>
								<button class='but' type='button'>PL22</button>
							</div>
							<div class='truma'>
								<div id='turma' class="nomeTipo">SINPOSIO</div>
								<button class='but' type='button'>S21</button>
								<button class='but' type='button'>S22</button>
							</div>
						</div>
                    </div>
                </div>
        </div>
            
 		<div class="row" id='box3'>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Lista Alunos</div>
                        <div class="panel-body">
                            <p>*Inserir aqui lista*<p>
							
                        </div>
                    </div>
                </div>
				</div>
				
</div><!--/.main-->

{% endblock %}