{% extends "teacher/base_t.html" %}
{% load i18n static %}

{% block title %}Consultar detalhes{% endblock %}

{% block content_title %}Os Meus Dados{% endblock %}

{% block breadcrumbs %}
        › Dados Pessoais
{% endblock %}

{% block content %}

<div id="content-main">
		
		<div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Informação Pessoal</div>
                        <div class="panel-body">
                            <img src="{% static personalData.profile_pic %}" alt="photo" width="150" height="150" style="float: right">
                            <h4><strong>Nome:</strong></h4><p>{{personalData.name}}</p>
                            <h4><strong>Email Faculdade:</strong></h4><p>{{personalData.personal_email}}</p>
                            <h4><strong>Número Telefone:</strong></h4><p>{{personalData.phone_number}}</p>
                            <h4><strong>Morada:</strong></h4><p>{{personalData.address}}</p>
                            <h4><strong>Data de nascimento:</strong></h4><p>{{personalData.birth_date}}</p>
                            <h4><strong>Género:</strong></h4><p>{{personalData.gender}}</p>
                            <h4><strong>Nacionalidade:</strong></h4><p>{{personalData.nationality}}</p>
                            <h4><strong>Número de Identificação:</strong></h4><p>{{personalData.id_document}}</p>
                            <h4><strong>NIF/VAT:</strong></h4><p>{{personalData.vat_number}}</p>
                        </div>
                    </div>
                </div>
        </div>
	</div><!--/.main-->
	
{% endblock %}
