{% extends "teacher/base_t.html" %}
{% load i18n static %}

{% block title %}Consultar contactos{% endblock %}

{% block content_title %}Pesquisa de Contactos{% endblock %}

{% block breadcrumbs %}
        › Pesquisa de Contactos
{% endblock %}

{% block content %}

<div id="content-main">
		
		<div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Procurar Contacto</div>
                    <div class="panel-body">
                        <form role="form" id="" onsubmit="return false">
                            <div class="form-group">
                                <label>Nome</label>
                                <input id="inputText" type="text" class="form-control" onkeyup="DoSearch('inputText', 'resultTable', 1);">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!--/.row-->

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Professores</div>
                        <div class="panel-body">
                            <table id="resultTable" class="table">
                                <thead>
                                    <tr>
                                        <th>Número</th>
                                        <th>Nome</th>
                                        <th>Email</th>
                                        <th>Regente de</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for prof in Teachers %}
                                    <tr>
                                        <td>{{prof.0.user.user}}</td>
                                        <td>{{prof.0.name}}</td>
                                        <td>{{prof.0.user.user.email}}</td>
                                        <td>{{prof.1}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->

</div><!--/.main-->
	

    <script>
        function DoSearch(id_input, id_table, n_column) {
            var input, filter, table, tr, td, i;
            
            input = document.getElementById(id_input);
            filter = input.value.toUpperCase();
            
            table = document.getElementById(id_table);
            tr = table.getElementsByTagName("tr");
            
            for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[n_column];
            td2= tr[i].getElementsByTagName("td")[3]
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1 || td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
                } else {
                tr[i].style.display = "none";
                }
            }
            }
        };
    </script>
	
{% endblock %}
