{% extends "teacher/base_t.html" %}
{% load i18n static %}

{% block title %}Consultar turmas{% endblock %}

{% block content_title %}Consultar turmas{% endblock %}

{% block breadcrumbs %}
        › Consultar turmas
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}


{% block content %}

<div id="content-main">
		
		<br> <!-- para nao ficar colado ao de cima-->
		<div class="row">
		  <div class="col-lg-12">
			<div class="panel panel-default">
	  
					<div class="semestres">
						<ul class="nav nav-pills" role="tablist">
							<li class="nav-item active">
							  <a class="nav-link active" data-toggle="pill" href="#semestre1">1º Semestre</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" data-toggle="pill" href="#semestre2" >2º Semestre</a>
							</li>
						  </ul>
					</div>
				
				</div>
	  
				
	  
			  <div class="panel-body">
	  
			  
				<div class="w3-row">
					<div class=" w3-third">
	  
				<div class="tab-content">
				  {% for semestre, subjs in subjsSem.items %}
	  
				  {% if semestre == "1" %}
				  <div id="semestre1" class=" tab-pane active">
	  
					{% else %}
					<div id="semestre2" class=" tab-pane fade">
					  {% endif %}
	  
					  <!-- em comum -->
					  <ul class="nav nav-pills" role="tablist">
	  
						{% for subj, dicTypeTurmaLessons in subjs.items %}
	  
						{% if forloop.counter == 1 %}
						<li class="nav-item active ">
						  <a class="nav-link active" data-toggle="pill"
							href="#{{semestre}}sem{{subj.getSigla}}">{{subj.name}}</a>
						</li>
						{% else %}
						<li class="nav-item">
						  <a class="nav-link " data-toggle="pill" href="#{{semestre}}sem{{subj.getSigla}}">{{subj.name}}</a>
						</li>
						{% endif %}
	  
						{% endfor %}
					  </ul>
	  
						  <div class="tab-content">
							 
							{% for subj, dicTypeTurmaLessons in subjs.items %}
	  
							{% if forloop.counter == 1 %}
							<div id="{{semestre}}sem{{subj.getSigla}}" class=" tab-pane active">
							  {% else %}
							  <div id="{{semestre}}sem{{subj.getSigla}}" class=" tab-pane fade">
								{% endif %}
	  
								{% for tipo, turmasAlunos in dicTypeTurmaLessons.items %}
								<br>
								{% if tipo == "T" %}
								  <p>TEORICAS</p>
								{% elif  tipo == "TP" %}
								  <p>PRATICAS</p>
								{% elif  tipo == "PL" %}
								  <p>LABORATORIAIS</p>
								{% elif  tipo == "O" %}
								  <p>OUTRA</p>
								{% elif  tipo == "S" %}
								  <p>SINPOSIO</p>
								{% else %}
								  <p>{{tipo}}</p>
								{% endif %}
							
								<div class="turmas">
								  {% for turmaAlunos in turmasAlunos %}
	  
								  <button type="button" class="w3-button-small w3-khaki w3-round"
									onclick="mostrarAlunos({{turmaAlunos|last}});"
									>{{tipo}}{{turmaAlunos|first}}
								  </button>
	  
								  {% endfor %}
								</div>
	  
								{% endfor %}
							  </div>
	  
							  {% endfor %}
							</div> <!-- class="tab-content" -->
						 
					  </div>
					  {% endfor %}
					</div> <!-- class="tab-content" -->
					</div>
					
					<div class="w3-twothird">
							<div class="row" id='box3'>
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading">Lista Alunos</div>
											<div class="panel-body">
													<table class="table">
															<thead>
																<tr>
																	<th>Número</th>
																	<th>Nome</th>
																	<th>Email</th>
																	<th>Horario</th>
																</tr>
															
															</thead>
															<tbody id="tabelaAlunos">
															</tbody>
														</table>
												
											</div>
										</div>
									</div>
									</div>
					  </div>
				  
				  </div> <!-- end row -->
	  
				</div>
			 
	  
			</div><!-- /.panel-->
		  </div><!-- /.col-->
		</div><!-- /.row -->
	  

            
´
				
</div><!--/.main-->

<script>
function mostrarAlunos(JSONalunos){
	console.log(JSONalunos)
	var tbody= document.getElementById("tabelaAlunos");
	tbody.innerHTML= "";
	for(var i=0; i<JSONalunos.length; i++){
		var row = tbody.insertRow(-1);
		var cell1 = row.insertCell(0).innerHTML= JSONalunos[i][0];
		var cell1 = row.insertCell(1).innerHTML= JSONalunos[i][1];
		var cell1 = row.insertCell(2).innerHTML= JSONalunos[i][2];
		var cell1 = row.insertCell(3).innerHTML= "<a href='#''>ver horario</a>";
	}
}
</script>

{% endblock %}