{% extends "teacher/base_t.html" %}
{% load i18n static %}
{% load university_mytags %}


{% block extrahead %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}


{% block title %}Pedidos Mudança Turma{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}
› Mudança de Turma
{% endblock %}


{% block content %}


<style>
 /* .o2, .o3, .ta1, .ta2, .nt{
 	visibility: hidden;
  opacity: 0;
 } */
</style>


<script>
	$(document).ready(function(){
		$(".ta1").click(function(){
      $(".o3").css("visibility", "visible");
			$(".nt").css("visibility", "visible");
		});

    $(".ta2").click(function(){
      $(".o3").css("visibility", "visible");
			$(".nt").css("visibility", "visible");
		});
	});


  function escolhaAluno() {
    var val = document.getElementById("input").value;
    var opts = document.getElementById("dlist").childNodes;

    for (var i = 0; i < opts.length; i++) {
      if (opts[i].value && opts[i].value == " 36789 | Maria Silva") {
        alert(opts[i].value);
        document.getElementsByClassName("o2")[0].style.visibility = "visible";
        document.getElementsByClassName("ta1")[0].style.visibility = "visible";
        break;
      }
      else if (opts[i].value && opts[i].value == " 47653 | Manuel Dias") {
        alert(opts[i].value);
        document.getElementsByClassName("o2")[0].style.visibility = "visible";
        document.getElementsByClassName("ta2")[0].style.visibility = "visible";
        break;
      }
    }
  }

</script>



<div class="aqui">
  <h4>ENVIO DE PEDIDO DE MUDANÇA DE TURMA</h4>
  <br>
<div>

    
<div class="panel panel-default">
    <div class="panel-body tabs">
        
        <ul class="nav nav-tabs">
            {% for subjName, list in formatDicBySubj.items %}
              {% if forloop.counter == 1 %}
              <li class="nav-item active ">
                  <a class="nav-link active" data-toggle="pill"
                    href="#{{forloop.counter}}">{{subjName}}</a>
                </li>
              {% else %}
              <li class="nav-item ">
                  <a class="nav-link" data-toggle="pill"
                    href="#{{forloop.counter}}">{{subjName}}</a>
                </li>
              {% endif %}
            {% endfor %}

            <!--<li class="active"><a href="#{{forloop.counter}}" data-toggle="tab">{{subjName}}</a></li>-->
        </ul>

                    <div class="tab-content">
                        {% for subjName, list in formatDicBySubj.items %}
                            {% if forloop.counter == 1 %}
                                      <div id="{{forloop.counter}}" class="tab-pane in active">
                            {% else %}
                                        <div id="{{forloop.counter}}" class="tab-pane fade">
                            {% endif %}
                            <p>1. Escolha um Aluno que pertença a uma das suas turmas:</p>
                         
                            <select onchange="mostrarTurmasActuais(this, {{list.1}})">
                                {% for user, turmas in list.1.items %}
                                <option id="{{user}}" value="{{user}}">{{user}}</option>
                                {% endfor %}
                            </select>
                          
                            <br>
                            <p class="o2">2. O Aluno encontra-se atualmente INSCRITO na Turma:</p>
                            <div id="turmasActuais">
                            </div>
                            <br>
                            <br>
                            <p class="o3">3. Escolha a NOVA Turma:</p>
                            <div class="form-group" style="margin-left: 10%">
                              <label class="nt">
                                  {% for typeTurmas in list.0 %}
                                  <div class="radio">
                                    
                                      {% if forloop.counter == 1 %}
                                      <input type="radio" name="optionsRadios" id="{{typeTurmas}}" value="{{typeTurmas}}" checked>{{typeTurmas}}
                                      {% else %}
                                      <input type="radio" name="optionsRadios" id="{{typeTurmas}}" value="{{typeTurmas}}" >{{typeTurmas}}
                                      {% endif %}
                                      
                                    </div>
                                  {% endfor %}

                              </label>
                            </div>
                        </div>
                        {% endfor %}
     
        <button style="float: right; margin: 20px" class="btn btn-lg btn-primary">Submit Request</button>
        
    </div>
</div>

<script>
    function mostrarTurmasActuais(selectObject, dic) {
      console.log(selectObject.value)
      console.log(dic)
      var value = selectObject.value;  
      var lstTurmas= dic[selectObject.value]
      var buttons= ""
      for (var i= 0; i<lstTurmas.length; i++){
        console.log(lstTurmas[i])
        buttons += "<button type='button' class='btn btn-sm btn-default cenasMinhas ta1'>" + lstTurmas[i] + "</button>"
      }
     
      document.getElementById("turmasActuais").innerHTML= buttons
  }

</script>

{% endblock %}