{% extends "teacher/base_t.html" %}
{% load i18n static %}
{% load university_mytags %}


{% block extrahead %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}


{% block title %}Pedidos Mudança Turma{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}
› Mudança de Turma
{% endblock %}


{% block content %}


<style>
 /* .o2, .o3, .ta1, .ta2, .nt{
 	visibility: hidden;
  opacity: 0;
 } */
</style>


<script>
	$(document).ready(function(){
		$(".ta1").click(function(){
      $(".o3").css("visibility", "visible");
			$(".nt").css("visibility", "visible");
		});

    $(".ta2").click(function(){
      $(".o3").css("visibility", "visible");
			$(".nt").css("visibility", "visible");
		});
	});


  function escolhaAluno() {
    var val = document.getElementById("input").value;
    var opts = document.getElementById("dlist").childNodes;

    for (var i = 0; i < opts.length; i++) {
      if (opts[i].value && opts[i].value == " 36789 | Maria Silva") {
        alert(opts[i].value);
        document.getElementsByClassName("o2")[0].style.visibility = "visible";
        document.getElementsByClassName("ta1")[0].style.visibility = "visible";
        break;
      }
      else if (opts[i].value && opts[i].value == " 47653 | Manuel Dias") {
        alert(opts[i].value);
        document.getElementsByClassName("o2")[0].style.visibility = "visible";
        document.getElementsByClassName("ta2")[0].style.visibility = "visible";
        break;
      }
    }
  }

</script>



<div class="aqui">
  <h4>ENVIO DE PEDIDO DE MUDANÇA DE TURMA</h4>
  <br>
</<div>

<div class="panel panel-default">
    <div class="panel-body tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Arquitetura de Computadores</a></li>
            <li><a href="#tab2" data-toggle="tab">Fisica I</a></li>
            <li><a href="#tab3" data-toggle="tab">Programação I</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1">
                <div class="tabs">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="subtab1">
                            <p>1. Escolha o Aluno:</p>
                            <form action="" method="">
                              <input type='text' oninput='escolhaAluno()' id='input' list='dlist'>
                              <datalist id="dlist">
                                <option id="a1" value=" 36789 | Maria Silva">
                                <option id="a2" value=" 47653 | Manuel Dias">
                              </datalist>
                              <button type="button" id="submitBtn">ok</button>
                            </form>
                            <br>
                            <p class="o2">2. O Aluno encontra-se atualmente INSCRITO na Turma:</p>
                            <button type="button" class="btn btn-sm btn-default cenasMinhas ta1">TP21</button>
                            <button type="button" class="btn btn-sm btn-default cenasMinhas ta1">PL12</button>
                            <br>
                            <br>
                            <p class="o3">3. Escolha a NOVA Turma:</p>
                            <div class="form-group" style="margin-left: 10%">
                              <label class="nt">
                                <div class="radio">
                                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>TP12, 11:00-12:30, 3.2.14
                                </div>
                                <div class="radio">
                                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>TP13, 9:00-10:00, 3.2.14
                                </div>
                                <div class="radio">
                                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>TP14, 9:00-10:00, 3.2.14
                                </div>
                              </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2">
                <h4>Fisica I</h4>
            </div>
            <div class="tab-pane fade" id="tab3">
                <h4>Programação I</h4>
            </div>
        </div>
        <button style="float: right; margin: 20px" class="btn btn-lg btn-primary">Submit Request</button>
    </div>
</div>

{% endblock %}