{% extends "teacher/base_t.html" %}
{% load i18n static %}

{% block title %}Home teacher{% endblock %}

{% block content_title %}Dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

    <div class="modal" id="exampleModal" style="top:5% !important" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modalHeader"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
        
                            <table id="tabelaSchedule"></table>
                            <div>
                                    <p>Legenda:</p>
                                    <ul id="legenda"></ul>
                            </div>
                        </div>
                    </div>
            </div>
          </div>
        </div>

      
      <div class="row">
         <div class="col-md-12">
            <div class="panel panel-default articles">
                                <div class="panel-heading">As Minhas Disciplinas:</div>

                                <div class="panel-body articles-container">
                                    {% for sub, value in typesAndLessons.items %}

                                        <div class="article border-bottom">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-xs-2 col-md-2 date">
                                                        <div class="large">{{sub.id}}</div>

                                                            <div class="text-muted">{{value}}</div>
                                                    </div>
                                                    <div class="col-xs-8 col-md-8">
                                                        <h4><a data-toggle="modal" data-target="#exampleModal" data-nomeCadeira="{{sub.name}}" data-myClasses="{{value}}" id='{{sub.name}}'>{{sub.name}}</a></h4>
                                                        {% for reg in suRegentes %}
                                                                {% if reg.user == sub.regente %}
                                                                    <p>Regente: {{reg.name}} | Gabinete: {{sub.regente.gabinete}} | Email: {{sub.regente.user.email}}</p>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% for tuple in myTeachersBoyy %}
                                                            {% if tuple.0 == sub.name %}
                                                                <p>Professores: {{tuple.1}}</p>
                                                            {% endif %}
                                                        {% endfor %}

                                                    </div>
                                                    <div class="col-xs-2 col-md-2 date">
                                                        {% for tuple in NumStdBySub %}
                                                        {% if sub == tuple.0 %}
                                                        <div class="large">{{tuple.1}}</div>
                                                        {% endif %}
                                                        {% endfor %}
                                                            <div class="text-muted">Alunos Inscritos</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div><!--End .article-->

                                    {% endfor %}
                                </div>
            </div>
         </div><!--/.col-->
      </div><!--/.row-->

     
    <div class="row">
			<div class="col-md-12">
                    {% if dicAlunosSobrepo %}
				<div class="panel panel-danger">
					<div class="panel-heading">Alertas</div>
					<div class="panel-body">
                        <h4>Sobreposições nas minhas cadeiras</h4>
                        <!--<p>Total de alunos com sobreposições: {{dicAlunosSobrepo|length}}</p>-->
                        
                        
                        <div id="estatistica"></div>

						<table id="tabela" class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>N.º Aluno</th>
                                    <th>Semestre</th>
									<th>Disciplina</th>
									<th>Turma</th>
									<th>Horário Aluno</th>
                                    <th>Pedir mudança de turma</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            {% for aluno, dicSemSobrep in dicAlunosSobrepo.items %}
                            <!-- dicSemSobrep: {'1sem': [['TERÇA', ['10:00', '1:30', 'Arquiteturas de Computadores', 'T', '11', '1.1.12'], ['11:00', '1:30', 'Arquiteturas de Computadores', 'TP', '14', '1.1.13']]], '2sem': []} -->
                                <tr class="border_top">
                                    {% with dicSemSobrep.1|length as len1sem %}
                                    {% with dicSemSobrep.2|length as len2sem %}
                                    <td rowspan="{% widthratio len1sem|add:len2sem 1 2 %}">{{forloop.counter}}</td>
                                    <td rowspan="{% widthratio len1sem|add:len2sem 1 2 %}">fc{{aluno}}</td> <!-- a 1 b = a * b-->
                                    
                                  
                                {% for sem, lst in dicSemSobrep.items %}
                                    {% for sobrep in lst %}
                                    <!-- sobrep: ['TERÇA', ['10:00', '1:30', 'Arquiteturas de Computadores', 'T', '11', '1.1.12'], ['11:00', '1:30', 'Arquiteturas de Computadores', 'TP', '14', '1.1.13']] -->
                                  <td rowspan="2">{{sem}}º, {{sobrep.0}}</td>
									<td data-cadeiraTurma="{{sobrep.1.2}}|{{sobrep.1.3}}{{sobrep.1.4}}">{{sobrep.1.2}}</td>
									<td data-cadeiraTurma="{{sobrep.1.2}}|{{sobrep.1.3}}{{sobrep.1.4}}">{{sobrep.1.3}}{{sobrep.1.4}}</td>
									<td data-toggle="modal" data-target="#exampleModal" data-cadeirasSobrepostas="{{sobrep.1.2}}|{{sobrep.1.3}}{{sobrep.1.4}}||{{sobrep.2.2}}|{{sobrep.2.3}}{{sobrep.2.4}}"  data-weekDaySobrep1="{{sobrep.0}}||{{sobrep.1.0}}||{{sobrep.1.5}}" data-weekDaySobrep2="{{sobrep.0}}||{{sobrep.2.0}}||{{sobrep.2.5}}" data-sem="{{sem}}sem" data-alunoFc="fc{{aluno}}" rowspan="2"><a>Horário</a></td>
                                    <td data-enviar="{{sobrep.1.2}}|{{sobrep.1.3}}{{sobrep.1.4}}||{{sobrep.2.2}}|{{sobrep.2.3}}{{sobrep.2.4}}" rowspan="2"></td>
                                </tr>

                                <tr>
									<td data-cadeiraTurma="{{sobrep.2.2}}|{{sobrep.2.3}}{{sobrep.2.4}}">{{sobrep.2.2}}</td>
									<td data-cadeiraTurma="{{sobrep.2.2}}|{{sobrep.2.3}}{{sobrep.2.4}}">{{sobrep.2.3}}{{sobrep.2.4}}</td>
                                </tr>
                                    {% endfor %}
                                {% endfor %}

                                {% endwith %}
                                {% endwith %}
                            {% endfor %}
                                
                            </tbody>
                        </table>

					</div>
                </div>
                {% else %}
                <div class="panel panel-success">
                    <div class="panel-heading">Alertas</div>
                    <div class="panel-body">
                        <h4>Os seus alunos não têm Sobreposições</h4>
                    </div>
                </div>
                {% endif %}
			</div>
        </div><!--/.row-->



   </div> <!--/.main-->


  <script>

    $(document).ready(function(){

      $('#exampleModal').on('show.bs.modal', function (event) {
          var link = $(event.relatedTarget) // Button that triggered the modal
          var modal = $(this) 
          document.getElementById("tabelaSchedule").innerHTML= "";
          console.log(link)
          if ('nomecadeira' in link.data()){
                var nomeCadeira = link.data('nomecadeira') // Extract info from data-* attributes
                console.log(nomeCadeira)
                modal.find('#modalHeader').text("Horario da cadeira " + nomeCadeira + " :")
                document.getElementById("legenda").innerHTML= "<li>"+ getSigla(nomeCadeira) + "- " + nomeCadeira +"</li>"

                let csrf = $("[name=csrfmiddlewaretoken]").val();
                $.ajax({
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrf)
                },
                    type: "POST",
                    url: 'home',
                    data: JSON.stringify({'nomeCadeira': nomeCadeira}),
                    success: function (data) {
                        console.log(data)
                            if (data['message'] == "success") {
                                getLessonsSubj(data['schedule'])
                            } else {
                                    alert("Nao é possivel ver o horario")
                            }
                        }
                });
            }else{
                var alunoFc = link.data('alunofc') // Extract info from data-* attributes
                console.log(alunoFc) //data-alunoFc="fc490"
                var semestre= link.data('sem')
                var infoLesson1= link.data('weekdaysobrep1').split("||")
                var infoLesson2= link.data('weekdaysobrep2').split("||")

                modal.find('#modalHeader').text("Horario do aluno " + alunoFc + " ("+ semestre +"):")

                let csrf = $("[name=csrfmiddlewaretoken]").val();
                $.ajax({
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", csrf)
                    },
                    type: "POST",
                    url: 'home',
                    data: JSON.stringify({'aluno': alunoFc}),
                    success: function (data) {
                        console.log(data)
                            if (data['message'] == "success") {
                                getLessonsSem(semestre, data['scheduleDict'], data['subjsName'], infoLesson1, infoLesson2)
                            } else {
                                    alert("Nao é possivel ver o horario")
                            }
                        }
                });
            }

      })

    });

  
    
    function getLessonsSubj(lstSchedule){
        console.log(lstSchedule)
        var dicDiasDaSemena= formatarOrdenarLstLessons(lstSchedule)
        buildSchedule(dicDiasDaSemena);
    }


    function getLessonsSem(semestre, scheduleDict, subjsName, infoLesson1, infoLesson2){
        console.log(scheduleDict)
        var lstLessonsSem= scheduleDict[semestre]
        var dicDiasDaSemena= formatarOrdenarLstLessons(lstLessonsSem)
        buildSchedule(dicDiasDaSemena);
        console.log(infoLesson1) //ex: ["TERÇA", "13:00", "1.4.53"]
        var weekDays= ['DOMINGO','SEGUNDA','TERÇA','QUARTA','QUINTA','SEXTA','SÁBADO'];

        //cadeiras
        var miniBlocks= document.getElementsByClassName("inline")
        for(var i=0; i<miniBlocks.length; i++){
            if (!miniBlocks[i].classList.contains("empty")) {
                miniBlocks[i].style.backgroundColor = "lightgray";
                miniBlocks[i].style.color = "black";
            }
        }

        //lesson1
        var id = document.getElementById(format(infoLesson1[1])).parentElement.id
        var classLesson= id + "/" + weekDays.indexOf(infoLesson1[0]) + "/" + infoLesson1[2]
        //lesson unica -> class=9/1/1.3.37

        var miniBlocks= document.getElementsByClassName(classLesson)
        for(var i=0; i<miniBlocks.length; i++){
            if (!miniBlocks[i].classList.contains("empty")) {
                miniBlocks[i].style.backgroundColor = "red";
                miniBlocks[i].style.color = "white";
            }
        }

        //lesson2
        var id = document.getElementById(format(infoLesson2[1])).parentElement.id
        var classLesson= id + "/" + weekDays.indexOf(infoLesson2[0]) + "/" + infoLesson2[2]
        //lesson unica -> class=9/1/1.3.37


        //cadeiras sobrepostas
        var miniBlocks= document.getElementsByClassName(classLesson)
        for(var i=0; i<miniBlocks.length; i++){
            if (!miniBlocks[i].classList.contains("empty")) {
                miniBlocks[i].style.backgroundColor = "red";
                miniBlocks[i].style.color = "white";
            }
        }
        
        
    
        //legenda
        var lstSubjsNameSem= subjsName[semestre];
        txt=""
        for(var i=0; i<lstSubjsNameSem.length; i++){
            txt += "<li>"+ getSigla(lstSubjsNameSem[i]) + "- " + lstSubjsNameSem[i] +"</li>"
        }
        document.getElementById("legenda").innerHTML= txt
    }

    //estatisticas
    $(document).ready(function(){
        lstCadeirasProf= []
        $.each($("a[data-nomecadeira]"), function () {
            var subj= $(this).attr('data-nomecadeira')
            lstCadeirasProf.push(subj)
        });

        dicCountLesson={}
        $.each($("td[data-cadeirasSobrepostas]"), function () {
            var sobrep= $(this).attr('data-cadeirasSobrepostas')
            lstLess= sobrep.split("||")
            for(var i=0; i<lstLess.length; i++){
                if(lstCadeirasProf.indexOf(lstLess[i].split("|")[0]) >= 0){
                    if (lstLess[i] in dicCountLesson){
                        dicCountLesson[lstLess[i]] = dicCountLesson[lstLess[i]] + 1
                    }else{
                        dicCountLesson[lstLess[i]] = 1
                    }
                }
                if(lstCadeirasProf.indexOf(lstLess[i].split("|")[0]) >= 0 && document.getElementById(lstLess[i].split("|")[0]).getAttribute("data-myClasses").indexOf(lstLess[i].split("|")[1]) >= 0){
                    var enviar= $(this).parent().children().last()
                    enviar.append('<a>Enviar</a>');
                }
                    
            }

        });
        console.log(dicCountLesson)

        txtMyclasses= ""
        txtOtherClasses= ""
        for (var subjNameTurma in dicCountLesson){
            lst= subjNameTurma.split("|")
            var turmas= document.getElementById(lst[0]).getAttribute("data-myClasses")
            if(turmas.indexOf(lst[1]) >= 0){
                $.each($("td[data-cadeiraTurma='"+ subjNameTurma +"']"), function () {
                    console.log($(this))
                    $(this).css("background-color", "beige");
                });
                console.log(turmas)
                txtMyclasses += "<p>Existem " + dicCountLesson[subjNameTurma] + " alunos com sobreposiçao em " + lst[0] + " na " + lst[1] + "</p>"
            }else{
                txtOtherClasses += "<p>Existem " + dicCountLesson[subjNameTurma] + " alunos com sobreposiçao em " + lst[0] + " na " + lst[1] + "</p>"
            }
        }
        document.getElementById("estatistica").innerHTML= "<p><strong>Nas minhas turmas:</strong></p>" + txtMyclasses + "<p><strong>Em outras turmas:</strong></p>" + txtOtherClasses
    });
  </script>

{% endblock %}
