{% extends "teacher/base_t.html" %}
{% load i18n static %}

{% block title %}Presenças registo{% endblock %}

{% block content_title %}Registar presenças{% endblock %}

{% block breadcrumbs %}
        › Registar presenças
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block content %}

				
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div id="option1Header" class="panel-heading"><span class="fa fa-navicon">&nbsp;</span>1. Escolha a cadeira e a turma</div>
					<div id="option1" class="panel-body">
                            <div id="modalContent"><div id="showAulas"></div></div>

                            <div class="containerCaled">
                                    <div class="w3-row headerMes w3-center">
                    
                                            <div class="w3-quarter">
                                                    <a onclick="buildCalendarMain('anterior')"><i class='fa fa-angle-left' style='font-size:28px;color:#30a5ff;margin-top:3%;'></i></a>
                                                    <a onclick="buildCalendarMain(undefined)"><button class="w3-btn w3-ripple w3-round" style="margin-top: -4%;background-color:#30a5ff;color: #fff!important;">Hoje</button></a>
                                                    <a onclick="buildCalendarMain('proximo')"><i class='fa fa-angle-right' style='font-size:28px;color:#30a5ff;'></i></a>
                                                </div>
                                            
                                            <div id="mes" class="w3-half w3-container"> </div>
                                    </div>
                                    <table id="tabelaCalend"></table>
                        </div>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
        
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div id="option2Header" class="panel-heading"><span class="fa fa-navicon">&nbsp;</span>2. Selecione os Alunos Presentes</div>
					<div id="option2" class="panel-body" style="display: none">
                        <h5>Dia: <span id="diaEscolhido"></span></h5>
                        <h5>Cadeira: <span id="cadeira"></span></h5>
                        <h5>Turma: <span id="turma"></span></h5>
                        <table id="students_table" class="table">
                            <thead>
                                <tr>
                                    <th>Número/ID</th>
                                    <th>Nome</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>50036</td>
                                    <td>Mariana Costa Leites</td>
                                    <td><div class="checkbox">
                                        <label><input type="checkbox" name="presenca" value="50036"></label>
                                    </div></td>
                                </tr>
                                <tr>
                                    <td>50476</td>
                                    <td>Raquel Matias</td>
                                    <td><div class="checkbox">
                                        <label><input type="checkbox" name="presenca" value="50476"></label>
                                    </div></td>
                                </tr>
                                <tr>
                                    <td>7715</td>
                                    <td>Mafalda Alexandra Dias</td>
                                    <td><div class="checkbox">
                                        <label><input type="checkbox" name="presenca" value="7715"></label>
                                    </div></td>
                                </tr>
                            </tbody>
						</table>
						<button style="float: right" class="btn btn-lg btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    
        
<script>
var dicAulas= 
    {'1sem': {
            "Quarta" : [["8:30", "AVPExp-2", "T", "10"], ["9:30", "AVPExp-2", "TP", "11"], ["10:30", "AVPExp-2", "L", "3"], ["16:30", "ASSistem-2", "T", "4"]],
            "Segunda" : [["10:30", "AVPExp-2", "T", "11"], ["11:30", "AVPExp-2", "TP", "11"], ["12:30", "AVPExp-2", "L", "12"]],
            "Terça" : [["8:30", "ASSistem-2", "O", "9"], ["9:30", "ASSistem-2", "O", "9"],
                        ["10:30", "ASSistem-2", "O", "8"], ["11:30", "AD", "T", "12"], ["14:00", "ECSoc-2", "T", "1"], 
                        ["15:00", "ECSoc-2", "S", "1"], ["15:30", "ECSoc-2", "TP", "23"]]
            },
    '2sem': {
            "Quinta" : [["8:30", "AD", "T", "10"], ["9:30", "AD", "TP", "11"], ["10:30", "AD", "L", "3"], 
                    ["16:30", "ASSistem-2", "T", "4"]],
            "Segunda": [["10:30", "AVPExp-2", "T", "11"], ["11:30", "AVPExp-2", "TP", "11"], ["12:30", "AVPExp-2", "L", "12"]]
    }
}
    buildCalendarMain()
    function buildCalendarMain(triger){
        console.log(dicAulas)
        calend(triger, dicAulas);

    }

    // When the user clicks anywhere outside of the modal, close it
    var modal = document.getElementById('modalContent');
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    // Arrastar o model
    dragElement(document.getElementById(("showAulas")));

    //toogle
    $(document).ready(function(){
        $("#option1Header").click(function(){
          $("#option1").toggle();
        });
      });

      $(document).ready(function(){
        $("#option2Header").click(function(){
          $("#option2").toggle();
        });
      });
</script>


{% endblock %}
