{% extends "teacher/base_t.html" %}
{% load i18n static %}

{% block title %}Presenças consulta{% endblock %}

{% block content_title %}Consultar presenças{% endblock %}

{% block breadcrumbs %}
        > Consultar presenças
{% endblock %}


{% block extrahead %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<div id="content-main">

		<br> <!-- para nao ficar colado ao de cima-->
		<div class="row">
		  <div class="col-lg-12">
			<div class="panel panel-default">

					<div class="semestres">
						<ul class="nav nav-pills" role="tablist">
							<li class="nav-item active">
							  <a class="nav-link active" data-toggle="pill" href="#semestre1" onclick="reset()">1º Semestre</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" data-toggle="pill" href="#semestre2" onclick="reset()" >2º Semestre</a>
							</li>
						  </ul>
					</div>

				</div>


                <div class="tab-content">
				  {% for semestre, subjs in subjsSem.items %}

				  {% if semestre == "1" %}
				  <div id="semestre1" class=" tab-pane active">

					{% else %}
					<div id="semestre2" class=" tab-pane fade">
					  {% endif %}

					  <!-- em comum -->
					  <ul class="nav nav-pills" role="tablist">

                            
						{% for subj, dicTypeTurmaLessons in subjs.items %}

						{% if forloop.counter == 1 %}
						<li class="nav-item active ">
						  <a class="nav-link active" data-toggle="pill"
							href="#{{semestre}}sem{{subj.getSigla}}">{{subj.name}}</a>
						</li>
						{% else %}
						<li class="nav-item">
						  <a class="nav-link " data-toggle="pill" href="#{{semestre}}sem{{subj.getSigla}}">{{subj.name}}</a>
						</li>
						{% endif %}

						{% endfor %}
					  </ul>

						  <div class="tab-content">

							{% for subj, dicTypeTurmaLessons in subjs.items %}

							{% if forloop.counter == 1 %}
							<div id="{{semestre}}sem{{subj.getSigla}}" class=" tab-pane active">
							  {% else %}
							  <div id="{{semestre}}sem{{subj.getSigla}}" class=" tab-pane fade">
								{% endif %}

								{% for tipo, turmasAlunos in dicTypeTurmaLessons.items %}
								<br>
								{% if tipo == "T" %}
								  <span>TEORICAS:</span>
								{% elif  tipo == "TP" %}
								  <span>PRATICAS:</span>
								{% elif  tipo == "PL" %}
								  <span>LABORATORIAIS:</span>
								{% elif  tipo == "O" %}
								  <span>OUTRA:</span>
								{% elif  tipo == "S" %}
								  <span>SINPOSIO:</span>
								{% else %}
								  <span>{{tipo}}:</span>
								{% endif %}

								<div style="display:inline" class="turmas">
								  {% for turma in turmasAlunos %}

								  <button type="button" class="w3-button-small w3-khaki w3-round"
									onclick="pedidoAjax('{{semestre}}', '{{subj.name}}', '{{tipo}}{{turma}}')">{{tipo}}{{turma}}
								  </button>

								  {% endfor %}
								</div>

                  {% endfor %}
                            
							  </div>

							  {% endfor %}
							</div> <!-- class="tab-content" -->

                      </div>
                      {% endfor %}
                    </div> <!-- class="tab-content" -->
                  
                  <div class="row" id='box3'>
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Lista Alunos (2018/2019)</div>
                                <div class="panel-body">
                                  <div id="totalAlunos"></div>
                                    <div style="overflow-x:auto;">
                                    <table id="students_table" class="table">
                                        <thead id="headerTabela"></thead>
                                        <tbody id="tabelaAlunos"></tbody>
                                     </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        </div>



		  </div><!-- /.col-->
		</div><!-- /.row -->
</div><!--/.main-->


<script>

    function pedidoAjax(sem, subjName, typeTurma){
      $.ajax({
        type: "POST",
        url: 'presencas_consultar',
        data: JSON.stringify({'sem': sem, 'subjName':subjName, 'typeTurma': typeTurma}),
        success: function (data) {
            console.log(data)
                if (data['message'] == "success") {
                  mostrarAlunos(data['JSONalunos'])
                } else {
                        alert("Nao é possivel ver o horario")
                }
            }
      });
    }


    function mostrarAlunos(JSONalunos){
      console.log(JSONalunos)
      if (JSONalunos.length > 1){
          document.getElementById("totalAlunos").innerHTML= " Total: "+ (JSONalunos.length-1).toString() +" alunos";
       
          var numDatas= JSONalunos[0].length
          var tHead= document.getElementById("headerTabela");
          tHead.innerHTML= "";
          var row = tHead.insertRow(-1);
          row.insertCell(-1).outerHTML= "<th>Número/ID</th>";
          row.insertCell(-1).outerHTML= "<th>Nome</th>";
          for(var i=0; i<numDatas; i++){ //<th>29/abr</th>
              var date= JSONalunos[0][i].split("/")
              row.insertCell(-1).outerHTML= "<th>"+date[0]+"/"+date[1]+"</th>";
          }
          row.insertCell(-1).outerHTML= "<th style='background-color: lightgrey; font-weight: bold;'>Total</th>";
          
          var tbody= document.getElementById("tabelaAlunos");
          tbody.innerHTML= "";
          total=0
          for(var i=1; i<JSONalunos.length; i++){
            var value = 0;
              var max = 0;
              var row = tbody.insertRow(-1);
              row.insertCell(-1).innerHTML= JSONalunos[i][0];
              row.insertCell(-1).innerHTML= JSONalunos[i][1];
              for(var j=0; j<JSONalunos[i][2].length; j++){
                  if (JSONalunos[i][2][j] == true){
                      row.insertCell(-1).innerHTML= "<img src='{% static 'our/img/icon-yes.svg' %}'>";
                      value +=1
                      max+=1
                  }else if (JSONalunos[i][2][j] == false){
                      row.insertCell(-1).innerHTML= "<img src='{% static 'our/img/icon-no.svg' %}'>";
                      max+=1
                  }else{
                      row.insertCell(-1).innerHTML= JSONalunos[i][2][j];
                  }
                  
              }
              var lastCell = row.insertCell(-1)
        total += value/max*100
  
              if (max==0){
                console.log("what")
          lastCell.innerHTML= "0%";
        }
        else{
          lastCell.innerHTML= Math.round(value/max*100).toString() + "%";
        }
              lastCell.style.backgroundColor="lightgrey";
              lastCell.style.fontWeight= "bold";
          }
          
          var row = tbody.insertRow(-1);
          row.style.backgroundColor="lightgrey";
          row.style.fontWeight= "bold";
          var cell0 = row.insertCell(-1)
          cell0.innerHTML= "Attendance Rate(n.º|%)";
          cell0.colSpan= "2";
  
          for(var j=0; j<JSONalunos[0].length; j++){
            val=0;
            max=0;
            for(var i=1; i<JSONalunos.length; i++){
          if (JSONalunos[i][2][j] == true){
            val+=1
          }
  
            }
              row.insertCell(-1).innerHTML= val.toString() + " | " + Math.round(val/JSONalunos.length*100).toString() + "%";
          }
  
          if (isNaN(total)){
            console.log("boop")
            row.insertCell(-1).innerHTML= "Media: 0%";
          }
          else{
            row.insertCell(-1).innerHTML= "Media: " + Math.round(total/JSONalunos.length).toString() + "%";
      }
      }else{
          var tHead= document.getElementById("headerTabela");
          tHead.innerHTML= "Nao existem alunos inscritos!";
          var tbody= document.getElementById("tabelaAlunos");
          tbody.innerHTML= "";
          document.getElementById("totalAlunos").innerHTML= "";
      }
  }

function reset(){
  document.getElementById("headerTabela").innerHTML= "";;
  document.getElementById("tabelaAlunos").innerHTML= "";
  document.getElementById("totalAlunos").innerHTML= "";
}

</script>

{% endblock %}