
	{% extends "student/base_s.html" %}
	{% load i18n static %}

	{% block title %}Home student{% endblock %}

	{% block content_title %}Horário{% endblock %}


	{% block breadcrumbs %}{% endblock %}

	{% block content %}

	{% block extrahead %}
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

	{% endblock %}


	<!DOCTYPE html>




<style>

#box1 {

}

#box2 {
	/* float: left;
	max-width: 20%;*/
}

#box3 {
	/* float: right;
	width: 80%; */
 }


 #t21, #t22, #t23, #tp21, #tp22, #tp23, #pl21, #pl22, #pl23, #s21, #s22, #s23, #hsi, #hpti, #hptr{
 	visibility: hidden;
 }


.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.turma {
	margin-top: 5px;
	float: left;
	margin-left: 30px;
}

.but {
 align: center;
 color: red;
}
</style>



<script>
	//testes
	// $(document).ready(function(){
	// 	$(".btn1").click(function(){
	// 		$("p").hide();
	// 	});
	// 	$(".btn2").click(function(){
	// 		$("p").show();
	// 	});
	// });


	$(document).ready(function(){
		$("#si").click(function(){
			$("#hsi").css("visibility", "visible");
			$("#tp21").css("visibility", "visible");
			$("#pl21").css("visibility", "visible");
			$("#s21").css("visibility", "visible");
			$("#t21").css("visibility", "visible");
		});

		$("#pti").click(function(){
			$("#hpti").css("visibility", "visible");
			$("#t22").css("visibility", "visible");
			$("#tp22").css("visibility", "visible");
			$("#pl22").css("visibility", "visible");
			$("#s22").css("visibility", "visible");
		});

		$("#ptr").click(function(){
			$("#hptr").css("visibility", "visible");
			$("#t23").css("visibility", "visible");
			$("#tp23").css("visibility", "visible");
			$("#pl23").css("visibility", "visible");
			$("#s23").css("visibility", "visible");
		});
	});
</script>


<div id="content-main">



	<!-- testes -->
	<!-- <p>Aqui funciona!</p>
	<button class="btn1">Hide</button>
	<button class="btn2">Show</button> -->



	<!-- <div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Horario</h1>
		</div>
	</div><!--/.row-->

	<div class="row" id='box1'>
			<div class="col-md-12">
					<div class="panel panel-default">
							<!-- <div class="panel-heading">Disciplinas:</div> -->
							<div class="panel-body">Disciplinas:
									<div class="btn" aria-label="Basic example">
									  <button id="si" type="button" class="btn btn-primary">Sistemas Inteligentes</button>
									  <button id="pti" type="button" class="btn btn-primary">Projeto Tecnologias de Informação</button>
									  <button id="ptr" type="button" class="btn btn-primary">Projeto Tecnologias de Redes</button>
									</div>
							</div>
					</div>
			</div>
	</div>

	<div class="row" id='box2'>
		<div class="col-md-12">
			<div class="panel panel-default">
				<!-- <div class="panel-heading">TURMAS</div> -->
					<div class="panel-body">
						<p>Turmas: </p>
						<div class="turma">
							<div id="teoricas">TEORICAS</div>
							<button id="t21" type="button" class="w3-button-small w3-khaki w3-round">T21</button>
							<button id="t22" type="button" class="w3-button-small w3-khaki w3-round">T22</button>
							<button id="t23" type="button" class="w3-button-small w3-khaki w3-round">T23</button>
						</div>
						<div class="turma">
							<div>PRATICAS</div>
							<button id="tp21" type="button" class="w3-button-small w3-khaki w3-round">TP21</button>
							<button id="tp22" type="button" class="w3-button-small w3-khaki w3-round">TP22</button>
							<button id="tp23" type="button" class="w3-button-small w3-khaki w3-round">TP23</button>
						</div>
						<div class="turma">
							<div id="lab">LABORATORIAIS</div>
							<button id="pl21" type="button" class="w3-button-small w3-khaki w3-round">PL21</button>
							<button id="pl22" type="button" class="w3-button-small w3-khaki w3-round">PL22</button>
							<button id="pl23" type="button" class="w3-button-small w3-khaki w3-round">PL23</button>
						</div>
						<div class="turma">
							<div id="simposio">SINPOSIO</div>
							<button id="s21" type="button" class="w3-button-small w3-khaki w3-round">S21</button>
							<button id="s22" type="button" class="w3-button-small w3-khaki w3-round">S22</button>
							<button id="s23" type="button" class="w3-button-small w3-khaki w3-round">S23</button>
						</div>
						<div class="turma">
							<button id="clear" type="button" class="w3-ripple w3-light-grey" onclick="location.reload()">Limpar Seleção</button>
						</div>
					</div>
				</div>
		</div>
	</div>

	<div class="row" id='box3'>
		<div class="col-md-12">
				<div class="panel panel-default">
						<div class="panel-heading">Horario</div>
						<div class="panel-body">
								<p id="hsi">*HORÁRIO SI*<p>
								<p id="hpti">*HORÁRIO PTI*<p>
								<p id="hptr">*HORÁRIO PTR*<p>
						</div>
				</div>
			</div>
	</div>
</div>	<!--/.main-->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">



</script>


{% endblock %}
