{% extends "student/base_s.html" %}
{% load i18n static %}
{% load university_mytags %}


{% block extrahead %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}


{% block title %}Turmas{% endblock %}

{% block content_title %}Preencha o formulario:{% endblock %}

{% block breadcrumbs %}
        › Inscrição Turmas
{% endblock %}


{% block content %}
<div id="content-main">


		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Incrições em turmas</div>
					<div class="panel-body">
						<div class="col-md-12">
             
							<form role="form" id="insert_disciplina">

                 <!-- {{ subjsSem }}  -->


                {% for semestre, subjs in subjsSem.items %}
                <button type="button" onclick="chooseSem('{{semestre}}sem')">{{semestre}} semestre</button>

                <div id="{{semestre}}sem">
                  {% for subj, dicTypeTurmaLessons in subjs.items %}
                    <p>{{subj.name}}</p>
                    {% for tipo, turmasLessons in dicTypeTurmaLessons.items %}
                    <p>{{tipo}}</p>
                    <div id="{{subj.name}}|{{tipo}}">
                    {% for turmaLessons in turmasLessons %}

                    
                    <button type="button" value="{{turmaLessons|last}}" onclick="marcado(this,'{{subj.name}}|{{tipo}}');criarHorario()" >{{turmaLessons|first}}</button>
                    
                
                    {% endfor %}
                  </div>

                    {% endfor %}
                    <br><br><br><br>
                  {% endfor %}
                </div>

                {% endfor %}

                <br><br>
                
                <button id="submit" type="submit" style="float: right" class="btn btn-lg btn-primary" >Submit Button</button>
                <button type="reset" class="btn btn-default"><a href="{% url 'inscricoes_subject_s' %}">Voltar</a></button>
							</form>
						</div>
					</div>
        </div><!-- /.panel-->

			</div><!-- /.col-->
    </div><!-- /.row -->
    
    <table id="tabelaSchedule"></table> 
</div>

<script>

  function chooseSem(sem){
    if (sem == "1sem"){
      document.getElementById("1sem").style.display = "block";
      document.getElementById("2sem").style.display = "none";
    }else{
      document.getElementById("2sem").style.display = "block";
      document.getElementById("1sem").style.display = "none";
    }
  }

  chooseSem("1sem");

  function criarHorario(){
    document.getElementById("tabelaSchedule").innerHTML= "";
    //reset pq os valores do dic tem q estar ordenados

    //todas os botoes das lessons q foram "activados"
    allTurmasEscolhidas= document.querySelectorAll("button[data-escolhido=true]");
    
    var lstLessons= []
    for (var i = 0; i < allTurmasEscolhidas.length; i++) {
      turma= allTurmasEscolhidas[i].value
      turmaLessons= turma.split("|").slice(0, -1);
      lstLessons= lstLessons.concat(turmaLessons)
    }

     //percorrer a lista com todas as lessons
     var lstlesson= []
     for (var i = 0; i < lstLessons.length; i++) {
      lstlesson.push(lstLessons[i].split(","))
    }
   
    var scheduleDict= {}

    for (var i = 0; i<lstlesson.length; i++){
      if (lstlesson[i][0] in scheduleDict) {
        scheduleDict[lstlesson[i][0]].push(lstlesson[i].slice(1, 6))
      }else{
        scheduleDict[lstlesson[i][0]]= [lstlesson[i].slice(1, 6)]
      }
    }


    // Importante: para o mesmo dia de semana, as aulas TEM QUE ESTAR POR ORDEM!! (by time) 
    for (var key in scheduleDict) {
      scheduleDict[key]= scheduleDict[key].sort(function(a,b){return (a[0] > b[0]) ? 1 : -1});
    }
    console.log(scheduleDict)

    buildSchedule(scheduleDict);
   
  }
</script>


{% endblock %}
	