{% extends "student/base_s.html" %}
{% load i18n static %}
{% load university_mytags %}


{% block extrahead %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}


{% block title %}Turmas{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}
    › Inscrição Turmas
{% endblock %}


{% block content %}
<div id="content-main">

  <br> <!-- para nao ficar colado ao de cima-->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">

        <!-- {{ subjsSem }}  -->

        <form role="form" id="insert_disciplina" method="post" onsubmit="return false">


        
      <div class="w3-row box_semestres_bar">
          <div class=" w3-third">
              <div class="semestres">
                  <ul class="nav nav-pills" role="tablist">
                      <li class="nav-item active">
                        <a class="nav-link active" data-toggle="pill" href="#semestre1" onclick="criarHorario('1sem')">1º Semestre</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#semestre2" onclick="criarHorario('2sem')" >2º Semestre</a>
                      </li>
                    </ul>
              </div>
          </div>

          <div class="w3-twothird">
            <div class="prog_bar">
              <span>Horário em construção:</span>
              <div id="myProgress">
                  <div id="myBar"><span id="percent">0</span>%</div>
                </div>
              </div>
          </div>

      </div> <!-- end row-->
          

        <div id="chooseLessons" class="panel-body">

        
          <div class="w3-row">
              <div class=" w3-third">

          <div class="tab-content">
            {% for semestre, subjs in subjsSem.items %}

            {% if semestre == "1" %}
            <div id="semestre1" class=" tab-pane active">

              {% else %}
              <div id="semestre2" class=" tab-pane fade">
                {% endif %}

                <!-- em comum -->
                <ul class="nav nav-pills" role="tablist">

                  {% for subj, dicTypeTurmaLessons in subjs.items %}

                  {% if forloop.counter == 1 %}
                  <li class="nav-item active ">
                    <a class="nav-link active" data-toggle="pill"
                      href="#{{semestre}}sem{{subj.getSigla}}">{{subj.name}}</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link " data-toggle="pill" href="#{{semestre}}sem{{subj.getSigla}}">{{subj.name}}</a>
                  </li>
                  {% endif %}

                  {% endfor %}
                </ul>

                    <div class="tab-content">
                       
                      {% for subj, dicTypeTurmaLessons in subjs.items %}

                      {% if forloop.counter == 1 %}
                      <div id="{{semestre}}sem{{subj.getSigla}}" class=" tab-pane active">
                        {% else %}
                        <div id="{{semestre}}sem{{subj.getSigla}}" class=" tab-pane fade">
                          {% endif %}

                          {% for tipo, turmasLessons in dicTypeTurmaLessons.items %}
                          <br>
                          {% if tipo == "T" %}
                            <p>TEORICAS</p>
                          {% elif  tipo == "TP" %}
                            <p>PRATICAS</p>
                          {% elif  tipo == "PL" %}
                            <p>LABORATORIAIS</p>
                          {% elif  tipo == "O" %}
                            <p>OUTRA</p>
                          {% elif  tipo == "S" %}
                            <p>SINPOSIO</p>
                          {% else %}
                            <p>{{tipo}}</p>
                          {% endif %}
                      
                          <div class="turmas" id="{{semestre}}sem|{{subj.name}}|{{tipo}}">
                            {% for turmaLessons in turmasLessons %}


                            <button type="button" class="w3-button-small w3-khaki w3-round"
                              data-lessons="{{turmaLessons|last}}"
                              onclick="marcado(this,'{{semestre}}sem|{{subj.name}}|{{tipo}}');criarHorario('{{semestre}}sem');move()"
                              value="{{subj.name}}|{{turmaLessons|first}}|{{tipo}}">{{tipo}}{{turmaLessons|first}}
                            </button>

                            {% endfor %}
                          </div>

                          {% endfor %}
                        </div>

                        {% endfor %}
                      </div> <!-- class="tab-content" -->
                   
                </div>
                {% endfor %}
              </div> <!-- class="tab-content" -->

              </div>
              
              <div class="w3-twothird">
                  <table id="tabelaSchedule"></table>
                </div>
            
            </div> <!-- end row -->

          </div>
       

              <br>
              <br>

              <button id="submit" type="submit" style="float: right" class="btn btn-lg btn-primary">Confirmar e
                Finalizar</button>
              <button type="button" class="btn btn-default"><a
                  href="{% url 'inscricoes_subject_s' %}">Voltar</a></button>
                  <br>
                  <br>
        </form>

      </div><!-- /.panel-->
    </div><!-- /.col-->
  </div><!-- /.row -->



</div>

<script>
  document.getElementById("content_titleRow").style.display = "none";
  criarHorario("1sem")


  $(document).ready(function () {
    $('#submit').click(function (evt) {
      evt.preventDefault();
      var r = confirm('Depois de confirmar nao podera voltar atras!');
      if (r) {
        login()
      }
    });
  });


  function login() {
    totalAllLessons = document.getElementsByClassName("turmas").length
    allTurmasEscolhidas1sem = document.querySelectorAll("button[data-1sem=true]");
    allTurmasEscolhidas2sem = document.querySelectorAll("button[data-2sem=true]");

    txt1sem = "";
    for (var i = 0; i < allTurmasEscolhidas1sem.length; i++) {
      txt1sem = txt1sem + allTurmasEscolhidas1sem[i].value + "||";
    }

    txt2sem = "";
    for (var i = 0; i < allTurmasEscolhidas2sem.length; i++) {
      txt2sem = txt2sem + allTurmasEscolhidas2sem[i].value + "||";
    }


    let csrf = $("[name=csrfmiddlewaretoken]").val();
    $.ajax({
      beforeSend: function(xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", csrf)
      },
      type: "POST",
      url: 'inscricoes_confirmacao',
      data: JSON.stringify({
        '1semLessons': txt1sem,
        '2semLessons': txt2sem,
        'totalLessons' : totalAllLessons
      }),
      success: function (data) {
        if (data['message'] == "success") {
          alert("Foi inscrito com sucesso")
          window.location.href = "home";
        } else if (data['message'] == "inactive") {} else {
          alert("Ocorreu um problema na sua inscriçao, volte a tentar.")
        }
      }
    });
  }

</script>


{% endblock %}