{% extends "student/base_s.html" %}
{% load i18n static %}
{% load university_mytags %}

{% block title %}Turmas{% endblock %}

{% block content_title %}Preencha o formulario:{% endblock %}

{% block breadcrumbs %}
        › Inscrição Turmas
{% endblock %}


{% block content %}

<div id="content-main">


		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Incrições em turmas</div>
					<div class="panel-body">
						<div class="col-md-12">
              
							<form role="form" id="insert_disciplina">
            
                

                {{ subjs }}

                {% for subj, dicTypeTurmaLessons in subjs.items %}
                  <p>{{subj.name}}</p>
                  {% for tipo, turmasLessons in dicTypeTurmaLessons.items %}
                  <p>{{tipo}}</p>
                  {% for turmaLessons in turmasLessons %}
                  
                    {% for lesson in turmaLessons|last %}
                        
                    {% setvar "w" as w %}
                        {% setvar lesson.week_day|add:", "|add:lesson.hour as lessonID %}
                        
                     

                        {% endfor %}
                        
                        <p>{{lessonID}}</p>

                       
                        
                        

                      
                   
                    
                    
               
                        
                 
               
                
                  <button type="button" onclick="criarHorario({{lessonDetalhes}})" >{{turmaLessons|first}}</button>
                  
                  {% endfor %}

                  {% endfor %}
                  <br><br><br><br>
                {% endfor %}




                
             

                

                <br><br>
                
                <button id="submit" type="submit" style="float: right" class="btn btn-lg btn-primary" >Submit Button</button>
                <button type="reset" class="btn btn-default">Reset Button</button>
                <button type="reset" class="btn btn-default"><a href="{% url 'inscricoes_subject_s' %}">Voltar</a></button>
							</form>
						</div>
					</div>
				</div><!-- /.panel-->
			</div><!-- /.col-->
		</div><!-- /.row -->
</div>

<script>
  function criarHorario(w){
    console.log(w)
  }
</script>


{% endblock %}
	