{% extends "student/base_s.html" %}
{% load i18n static %}

{% block title %}Consultar presenças{% endblock %}

{% block content_title %}Consultar presenças{% endblock %}

{% block breadcrumbs %}
        › Consultar presenças
{% endblock %}


{% block content %}

	<div id="content-main">
<div class="row">
			<div class="col-md-12">
                <div class="panel panel-default">
					{% if bySchoolYear %}
						
						<div class="panel-body tabs">
							<ul id="yearsTab" class="nav nav-tabs">
								{% for y in schoolYears %}
									<li><a href="#{{y}}" data-toggle="{{y}}">{{y}}</a></li>
								{% endfor %}
							</ul>
							<div id="yearsContent" class="tab-content">
								{% for yearS, presencasBySubject in bySchoolYear.items %}
									<div class="tab-pane fade in" id="{{yearS}}">
										<div class="form-group">
											<label>Escolha a disciplina:</label>
											<select class="form-control" onchange="showPresencasFromSubject($(this).val())">
												<option value="none" selected>--Disciplinas--</option>
												{%for key, values in presencasBySubject.items %}
													<option value="{{key.1}}">{{key.0}}</option>
												{% endfor %}
											</select>
										</div>


										{% for subj, presentDict in presencasBySubject.items %}
										<div class="fade in subjectDiv" id="{{subj.1}}">
											<h4>{{subj.0}}</h4>
											{%for subjectType, dates in presentDict.items %}
												<div style="overflow-x:auto;"><table class="table" style="text-align: center">
													<tbody>
														<tr>
															<th rowspan="3">{{subjectType}}</th>
														</tr>
														<tr>
															{%for d in dates.1 %}
																<th>{{d.0}}</th>
															{% endfor %}
														</tr>
														<tr>
															{%for d in dates.1 %}
																{%if d.1 == True %}
																	<td><img src="{% static 'our/img/icon-yes.svg' %}"></td>
																{% else %}
																	<td><img src="{% static 'our/img/icon-no.svg' %}"></td>
																{% endif %}
															{% endfor %}
														</tr>
													</tbody>
												</table>

												<div class="col-md-12">
													<div class="row progress-labels">
														<div class="col-sm-6">Presente em {{dates.0.0}} aulas</div>
														<div class="col-sm-6" style="text-align: right;">de {{dates.1|length}} aulas lecionadas</div>
													</div>
													<div class="progress">
														<div data-percentage="0%" style="width: {{dates.0.1}}%;" class="progress-bar progress-bar-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</div></div>
											{% endfor %}

										</div>
										{% endfor %}
									</div>
								{% endfor %}
							</div>
						</div>
					{% else %}
						<div class="panel-body">
							<p>Não tem presenças para consultar.</p>
						</div>
					{% endif %}
                </div><!--/.panel-->
            </div><!--/.col-->
</div><!--/.row-->
</div>

<script>
	var yearT = $("#yearsTab li").first().text();
	$("#yearsTab li").first().addClass("active");
	$("#yearsContent #" + yearT).addClass("active");

	$(".subjectDiv").css("display", "none");

	$("#yearsTab li").click(function() {
		$("#yearsTab li, #yearsContent div").removeClass("active");
		var yearT = $(this).text();
		$(this).addClass("active");
		$("#yearsContent #" + yearT).addClass("active");
		$(".subjectDiv").css("display", "none");
	})

	function showPresencasFromSubject(subj) {
		console.log(subj);
		if (subj == "none") {
			$(".subjectDiv").css("display", "none");
		} else {
			$(".subjectDiv").css("display", "none");
			$("#" + subj).css("display", "block");
		}
	};
	

</script>

{% endblock %}

