{% extends "student/base_s.html" %}
{% load i18n static %}

{% block title %}Consultar cadeiras{% endblock %}

{% block content_title %}Disciplinas:{% endblock %}

{% block breadcrumbs %}
        › Consultar cadeiras
{% endblock %}


{% block content %}

	<div id="content-main">



        <div class="row">
                <div class="col-md-12">
                        <div class="panel panel-default articles">
                                <div class="panel-heading">As Minhas Disciplinas</div>
    
                                <div class="panel-body articles-container">
                                   {% for subjs in suAllSubjects %}
                                        <div class="article border-bottom">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-xs-2 col-md-2 date">
                                                        <div class="large">{{subjs.subject.id}}</div>

                                                            <div class="text-muted">{{subjs.turmas}}</div>


                                                    </div>
                                                    <div class="col-xs-7 col-md-7">
                                                        <h4><a href="">{{subjs.subject.name}}</a></h4>
                                                        {% for reg in suRegentes %}
                                                        {% if reg.user == subjs.subject.regente %}
                                                            <p>Regente: {{reg.name}} | Gabinete: {{subjs.subject.regente.gabinete}} | Email: {{subjs.subject.regente.user.email}}</p>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                    <div class="col-xs-3 col-md-3">
                                                        <h4 style="color:black">Os professores:</h4>
                                                        {% for tuple in myTeachersBoyy %}
                                                        {% if tuple.0 == subjs.subject.name %}
                                                            <p>{{tuple.1}}</p>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div><!--End .article-->
                                    {% endfor %}

                                </div>
                            </div><!--End .articles-->
                </div><!--/.col-->
        </div>



        <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Procurar Disciplinas</div>
                        <div class="panel-body">
                            <form role="form" id="" onsubmit="return false">
                                <div class="form-group">
                                    <label>Disciplina</label>
                                    <input id="inputText" type="text" class="form-control" onkeyup="DoSearch('inputText', 'resultTable', 1);">
                                </div>
                            </form>

                            <p>As disciplinas apresentadas abaixo são do curso em que está inscrito: {{allMyCourseSubj.1.course.name}}</p>
                            <br><hr><br>
                            
                            <table id="resultTable" class="table">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Nome</th>
                                            <th>Ano</th>
                                            <th>Semestre</th>
                                            <th>Tipo</th>
                                            <th>ECTS</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for subjline in allMyCourseSubj %}
                                        <tr>
                                            <td class = "cod">{{subjline.subject.id}}</td>
                                            <td class = "subName">{{subjline.subject.name}}</td>
                                            <td class = "subYear">{{subjline.year}}</td>
                                            <td class = "subSem">{{subjline.semester}}</td>
                                            <td class = "subGrau">{{subjline.type}}</td>
                                            <td class = "ectsNum">{{subjline.subject.credits_number}}</td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
        </div><!--/.row-->
	</div><!--/.main-->
	



    <script>
            function DoSearch(id_input, id_table, n_column) {
                var input, filter, table, tr, td, i;
                
                input = document.getElementById(id_input);
                filter = input.value.toUpperCase();
                
                table = document.getElementById(id_table);
                tr = table.getElementsByTagName("tr");
                
                for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[n_column];

                if (filter)

                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    } else {
                    tr[i].style.display = "none";
                    }
                }
                }
            };
</script>

{% endblock %}
