{% extends "student/base_s.html" %}
{% load i18n static %}

{% block title %}Consultar contactos{% endblock %}

{% block content_title %}Pesquisa de Contactos{% endblock %}

{% block breadcrumbs %}
        › Pesquisa de Contactos
{% endblock %}


{% block content %}

	<div id="content-main">

	<div class="row" id="myrow">
            <div class="col-md-12">
                    {% if finalList %}
                <div class="panel panel-default">

                    <div class="panel-body tabs">

                        <ul class="nav nav-tabs">

                            {% for obj in finalList %}

                            <li><a href={{obj.id}} data-toggle="tab">{{obj.subjectName}}</a></li>

                            {%endfor%}
                        </ul>
                        <div class="tab-content">
                            {% for obj in finalList %}
                            <div class="tab-pane fade" id={{obj.idNoHashTag}}>
                                <h4>{{obj.subjectName}}</h4>
                                {% for elem in obj.classes %}
                                <button type="button" class="btn btn-sm btn-default cenasMinhas">{{elem.0}}</button>
                                {%endfor%}
								<br><br><br>
								<table class="table">
									<thead>
										<tr>
											<th>Número</th>
											<th>Nome</th>
											<th>Email</th>
										</tr>
									</thead>
									<tbody class="myAwesomeTable">
                                        {% for elem in obj.classes %}
                                        {% for person in elem.1 %}
										<tr class={{elem.0}} hidden>
											<td>{{person.user.user}}</td>
											<td>{{person.name}}</td>
											<td>{{person.user.user.email}}</td>
										</tr>
                                        {%endfor%}
                                        {%endfor%}
									</tbody>
								</table>
                            </div>
                            {%endfor%}


                        </div>
                    </div>
                </div>
                {% else %}
                <p>Para poder pesquisar os seus colegas e professores em primeiro inscreva-se em cadeiras do seu curso :)</p>
                 {% endif %}
            </div>
		</div><!--/.row-->

</div><!--/.main-->
<script>

    $(document).ready(function(){
        console.log($('a[href="#tab1"]').html())

        $('li:has(a[href="#tab1"])').addClass('active')
        $('#tab1').addClass('in')
        $('#tab1').addClass('active')
        $(".myAwesomeTable tr").hide()

        $('.cenasMinhas').click(function() {
            $(".myAwesomeTable tr").hide()
            var className = $(this).text()
            console.log(this)
            $("."+className).show()
        })


        $('a[data-toggle="tab"]').click( function() {
            id=$(this).attr("href").substring(1)
            $('#'+id+' button:first').click()

        })

        $('.active button:first').click()




    });
  </script>

{% endblock %}