{% extends "student/base_s.html" %}
{% load i18n static %}

{% block title %}Consultar dados pessoais{% endblock %}

{% block content_title %}Dados Pessoais:{% endblock %}

{% block breadcrumbs %}
        › Consultar dados pessoais
{% endblock %}


{% block content %}

	<div id="content-main">
		
		<div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Informação Pessoal</div>
                        <div class="panel-body">
                            <img src="{% static 'template/media/profile_pic.png' %}" alt="photo" width="150" height="150" style="float: right">
                            <h3>Nome:</h3><p>Sérgio Filipe Pereira Pacheco Mendes</p>
                            <h3>Email Faculdade:</h3><p>fc49050@alunos.fc.ul.pt</p>
                            <h3>Número Telefone:</h3><p>937 085 090</p>
                        </div>
                    </div>
                </div>
        </div>
            
            
        <div class="row">
                <div class="col-md-12">
                        <div class="panel panel-default articles">
                                <div class="panel-heading">Disciplinas</div>
    
                                <div class="panel-body articles-container">
                                    <div class="article border-bottom">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-2 col-md-2 date">
                                                    <div class="large">26752</div>
                                                    <div class="text-muted">S2</div>
                                                </div>
                                                <div class="col-xs-10 col-md-10">
                                                    <h4><a href="">Sistemas Inteligentes</a></h4>
                                                    <p>João Balsa (Regente) | Gabinete: 6.3.38A</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div><!--End .article-->
                                    
                                    <div class="article border-bottom">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-2 col-md-2 date">
                                                    <div class="large">26709</div>
                                                    <div class="text-muted">S2</div>
                                                </div>
                                                <div class="col-xs-10 col-md-10">
                                                    <h4><a href="">Aplicações Distribuídas</a></h4>
                                                    <p>Alysson Bessani | Gabinete: 6.3.23</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div><!--End .article-->
                                    
                                    <div class="article">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-2 col-md-2 date">
                                                    <div class="large">26719</div>
                                                    <div class="text-muted">S2</div>
                                                </div>
                                                <div class="col-xs-10 col-md-10">
                                                    <h4><a href="">Projeto de Tecnologias de Informação</a></h4>
                                                    <p>António Ferreira (PTI) | Gabinete: </p>
                                                    <p>Fernando Ramos (PTR) | Gabinete: </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div><!--End .article-->
                                </div>
                            </div><!--End .articles-->
                </div><!--/.col-->
        </div>
	</div><!--/.main-->
	

{% endblock %}
