{% extends "student/base_s.html" %}
{% load i18n static %}

{% block title %}Consultar universidade{% endblock %}

{% block content_title %}Pesquisar Universidade:{% endblock %}

{% block breadcrumbs %}
        › Pesquisar Universidade
{% endblock %}


{% block content %}

<div id="content-main">

            
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Procurar Universidade</div>
                        <div class="panel-body">
                            <form role="form" id="">
                                <div class="form-group">
                                    <label>Nome da Universidade</label>
                                    <input id="inputText" type="text" class="form-control" onkeyup="DoSearch('inputText', 'resultTable', 0);">
                                </div>
                            </form>

                            <br><hr><br>

                            <table id="resultTable" class="table">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Faculdade de Arquiterura (FA)</td>
                                            <td><a href="http://www.fa.ulisboa.pt">Homepage</a></td>
                                        </tr>
                                        <tr>
                                            <td>Faculdade de Belas-Artes (FBA)</td>
                                            <td><a href="http://www.fba.ulisboa.pt">Homepage</a></td>
                                        </tr>
                                        <tr>
                                            <td>Faculdade de Ciências (FC)</td>
                                            <td><a href="http://www.ciencias.ulisboa.pt">Homepage</a></td>
                                        </tr>
                                        <tr>
                                            <td>Faculdade de Direito (FD)</td>
                                            <td><a href="http://www.fd.ulisboa.pt">Homepage</a></td>
                                        </tr>
                                        <tr>
                                            <td>Faculdade de Farmácia (FF)</td>
                                            <td><a href="http://www.ff.ulisboa.pt">Homepage</a></td>
                                        </tr>
                                        <tr>
                                            <td>Faculdade de Letras (FL)</td>
                                            <td><a href="http://www.letras.ulisboa.pt">Homepage</a></td>
                                        </tr>
                                        <tr>
                                            <td>Faculdade de Medicina (FM)</td>
                                            <td><a href="http://www.medicina.ulisboa.pt">Homepage</a></td>
                                        </tr>
                                        <tr>
                                            <td>Faculdade de Medicina Dentária (FMD)</td>
                                            <td><a href="http://www.fmd.ulisboa.pt">Homepage</a></td>
                                        </tr>
                                        <tr>
                                            <td>Faculdade de Medicina Veterinária (FMV)</td>
                                            <td><a href="http://www.fmv.ulisboa.pt">Homepage</a></td>
                                        </tr>
                                        <tr>
                                            <td>Faculdade de Motricidade Humana (FMH)</td>
                                            <td><a href="http://www.fmh.ulisboa.pt">Homepage</a></td>
                                        </tr>
                                        <tr>
                                            <td>Faculdade de Psicologia (FP)</td>
                                            <td><a href="http://www.fp.ulisboa.pt">Homepage</a></td>
                                        </tr>
                                        <tr>
                                            <td>Instituto de Ciências Sociais (ICS)</td>
                                            <td><a href="http://www.fp.ulisboa.pt">Homepage</a></td>
                                        </tr>
                                        <tr>
                                            <td>Instituto de Educação (IE)</td>
                                            <td><a href="http://www.ie.ulisboa.pt">Homepage</a></td>
                                        </tr>
                                        <tr>
                                            <td>Instituto de Geografia e Ordenamento do Território (IGOT)</td>
                                            <td><a href="http://www.igot.ulisboa.pt">Homepage</a></td>
                                        </tr>
                                        <tr>
                                            <td>Instituto Superior de Agronomia (ISA)</td>
                                            <td><a href="http://www.isa.ulisboa.pt">Homepage</a></td>
                                        </tr>
                                        <tr>
                                            <td>Instituto Superior de Ciências Sociais e Políticas (ISCSP)</td>
                                            <td><a href="http://www.iscsp.ulisboa.pt">Homepage</a></td>
                                        </tr>
                                        <tr>
                                            <td>Instituto Superior de Economia e Gestão (ISEG)</td>
                                            <td><a href="http://www.iseg.ulisboa.pt">Homepage</a></td>
                                        </tr>
                                        <tr>
                                            <td>Instituto Superior Técnico (IST)</td>
                                            <td><a href="http://www.tecnico.ulisboa.pt">Homepage</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
    
            
	</div><!--/.main-->
	

<script>
            function DoSearch(id_input, id_table, n_column) {
                var input, filter, table, tr, td, i;
                
                input = document.getElementById(id_input);
                filter = input.value.toUpperCase();
                
                table = document.getElementById(id_table);
                tr = table.getElementsByTagName("tr");
                
                for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[n_column];
                
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    } else {
                    tr[i].style.display = "none";
                    }
                }
                }
            };
</script>

{% endblock %}

