{% extends "student/base_s.html" %}
{% load i18n static %}

{% block title %}Home student{% endblock %}

{% block content_title %}Dashboard{% endblock %}


{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="content-main">

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default articles" id="dad">
                                <div class="panel-heading">As Minhas Disciplinas:</div>

                                <div class="panel-body articles-container">
                                    
                                    {% if suAllSubjects %}
                                        {% for subjs in suAllSubjects %}
                                            <div class="article border-bottom">
                                                <div class="col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xs-2 col-md-2 date">
                                                            <div class="large">{{subjs.subject.id}}</div>

                                                                <div class="text-muted">{{subjs.turmas}}</div>


                                                        </div>
                                                        <div class="col-xs-10 col-md-10">
                                                            <h4><a href="">{{subjs.subject.name}}</a></h4>
                                                            {% for reg in suRegentes %}
                                                            {% if reg.user == subjs.subject.regente %}
                                                                <p>Regente: {{reg.name}} | Gabinete: {{subjs.subject.regente.gabinete}} | Email: {{subjs.subject.regente.user.email}}</p>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div><!--End .article-->
                                        {% endfor %}
                                        {% else %}
                                            <p>Inscreva-se em cadeiras do seu curso :)</p>
                                        {% endif %}

                                </div>
				</div>
			</div><!--/.col-->
		</div><!--/.row-->
</div>	<!--/.main-->

{% endblock %}

