{% extends "student/base_s.html" %}
{% load i18n static %}

{% block title %}Inscriçoes{% endblock %}

{% block content_title %}Preencha o formulario:{% endblock %}

{% block breadcrumbs %}
› Inscrição Curso
{% endblock %}


{% block content %}

<div id="content-main">


	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Incrições</div>
				<div class="panel-body">
					<div class="col-md-12">
						<div>
							<p id="curso"><strong>Curso em que se Encontra Inscrito:</strong> {{suCourse.course.name}}<p>
									<p id="ano_curricular"><strong>Ano Curricular:</strong> {{suCourse.anoActual}}º ano</p>
									<p id="ano_lectivo"><strong>Ano Lectivo:</strong> <span id="ano_lectivo_act"></span></p>
									<p id="creditosInscrito"><strong>Total de Créditos a que se Encontra Inscrito:</strong><span
											id="NumCreditosInscrito"> 0.0 </span>ECTS</p>
									<p id="creditosApr"><strong>Créditos para Aprovação:</strong> <span id="ano_lectivo_act">180.0</span>
									</p>
									<p>mini cursos: {{MiniC}}</p>
						</div>
					</div>
				</div>
			</div><!-- /.panel-->


			<div class="panel panel-default">
				<div class="panel-heading">Selecione as cadeiras:</div>
				<div class="panel-body">


					<form role="form" id="insert_disciplina" method="post" action="{% url 'choose_lessons_s' %}">
						<fieldset>

							<table id="students_table" class="table">
								<thead>
									<tr>
										<th></th>
										<th>Disciplina</th>
										<th>Tipologia</th>
										<th>Créditos</th>
									</tr>
								</thead>
								<tbody>
									{% for course_subj in course_subjs %}
									<tr>
										<td>
											<div class="radio">
												<label>
													
													<input type="checkbox" name="subjsNameSemestre" id="{{course_subj.get_subject_name}}|{{course_subj.semester}}" value="{{course_subj.get_subject_name}}|{{course_subj.semester}}">


												</label>
											</div>
										</td>
										<td>
											<h5>{{course_subj.get_subject_name}}</h5>
											<p>{{course_subj.year}} ano, {{course_subj.semester}} semestre</p>
										</td>
										<td>{{course_subj.type}}</td>
										<td>{{course_subj.get_subject_credits}}.0 Créd.</td>
									</tr>
								</tbody>
								{% endfor %}
							</table>

							<br><br>
							<button id="submit" type="submit" style="float: right" class="btn btn-lg btn-primary">Submit Button</button>
							<!-- onclick="addDisciplinas()" -->
							<button type="reset" class="btn btn-default">Reset Button</button>
						</fieldset>
					</form>
					<br><br>

				</div><!-- /.panel-->
			</div><!-- /.col-->




		</div>

	</div><!-- /.col-->
</div><!-- /.row -->
</div>

<script>
	var today = new Date();
	var anoAct = today.getFullYear();
	var mesAct = today.getMonth() + 1;
	var setembro = 9;
	var anoLectivo;
	if (mesAct >= setembro) {
		anoLectivo = anoAct + "/" + (anoAct + 1);
	} else {
		anoLectivo = (anoAct - 1) + "/" + anoAct;
	}
	document.getElementById("ano_lectivo_act").innerHTML = anoLectivo;


		//guardar temporariamente, assim se quizer mudar alguma opçao nao presisa de escolher todo novamente
	if(localStorage.getItem("UserSubjs") != undefined){
		var userSubjs = JSON.parse(localStorage.getItem("UserSubjs"))
		for (var i = 0; i<userSubjs.length; i++){
			$("input[value='"+userSubjs[i]+"']").prop("checked", true );
		}
	}

	$(document).ready(function () {
    $('#submit').click(function(evt) {
			var cadeirasEscolhidas= [];
			$.each($("input[name='subjsNameSemestre']:checked"), function () {
				cadeirasEscolhidas.push($(this).val())
			});
			var UserCadeirasEscolh= JSON.stringify(cadeirasEscolhidas);
			localStorage.setItem("UserSubjs", UserCadeirasEscolh);
	});
});
	
	
</script>

{% endblock %}