{% extends "student/base_s.html" %}
{% load i18n static %}

{% block title %}Inscriçoes{% endblock %}

{% block content_title %}Preencha o formulario:{% endblock %}

{% block breadcrumbs %}
› Inscrição Curso
{% endblock %}


{% block content %}

<div id="content-main">


	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Incrições</div>
				<div class="panel-body">
					<div class="col-md-12">
						<div>

									<p><strong>Curso em que se Encontra Inscrito:</strong> {{suCourse.course.name}}</p>
									<p><strong>Ano Lectivo de inicio:</strong> {{suCourse.anoLectivoDeInício}}</p>
									<p><strong>Ano Lectivo atual:</strong> <span id="ano_lectivo_act"></span></p>
									<p><strong>Ano Curricular:</strong> {{suCourse.anoActual}}º ano</p>
									<p><strong>Total de créditos que ja tem:</strong><span> {{suCourse.totalCred}}.0 </span>ECTS</p>
									<p><strong>Total de créditos a que se está a inscrever neste momento: </strong><span id="totalCredEscolhidos">0.0</span>/ 72.0 ECTS</p>
									<p><strong>Total de créditos para fazer o curso: </strong>{{suCourse.course.credits_number}}.0 ECTS</p>
						</div>
					</div>
				</div>
			</div><!-- /.panel-->


			<!--{{dicAnoSubjs}}-->


			<div class="panel panel-default">
				<div class="panel-heading">Selecione as cadeiras:</div>
				<div class="panel-body">


					<form role="form" id="insert_disciplina" method="post" action="{% url 'choose_lessons_s' %}">
						<fieldset>

							<table id="students_table" class="table">
								<thead>
									<tr>
										<th></th>
										<th>Disciplina</th>
										<th>Tipologia</th>
										<th>Créditos</th>
									</tr>
								</thead>
								<tbody>

										
								{% for ano, dicCredSubjs in dicAnoSubjs.items %}
								<!-- {1ºano: {'ceditos': .., 'course_subjs':... }, ... }-->

								<tr class="cursos" bgcolor="whitesmoke" onclick="minicToggleAno('{{ano}}')" >
									<td><em class="fa fa-align-justify">&nbsp;</em> </td>
									<td><strong>{{ano}}</strong></td>
									<td><strong>1 semestre/2 semestre</strong></td>
									<td><strong>Créd. necessarios: {{dicCredSubjs.ceditos}}.0 </strong></td>
								</tr>
									
												<tr data-ano="{{ano}}toggle" class="cursos" value="{{ano}}principais" bgcolor="yellow" onclick="minicToggle('{{ano}}principais')">
														<td><em class="fa fa-align-justify">&nbsp;</em> </td>
														<td><strong>Tronco Comum (cadeiras obrigatorias)</strong></td>
														<td><strong>1 semestre/2 semestre</strong></td>
														<td><strong>Créd. necessarios: <span id="{{ano}}credNecessPrinc"></span>.0 </strong></td>
													</tr>

											{% for subjs in dicCredSubjs.course_subjs.courseObrig_subjs %}

													<tr data-mcName="{{ano}}principais" >
													<td style="width:10%">
													<div class="radio">
													<label>
													<input type="checkbox" onclick="somarCred({{subjs.get_subject_credits}}, this)" name="subjsNameSemestre" id="{{subjs.get_subject_name}}|{{subjs.semester}}" value="{{subjs.get_subject_name}}|{{subjs.semester}}">
													
												</label>
													</div>
													</td>
													<td>
													<h5>{{subjs.get_subject_name}}</h5>
													<p>{{subjs.year}} ano, {{subjs.semester}} semestre</p>
													</td>
													<td>{{subjs.type}}</td>
													<td value="{{subjs.get_subject_credits}}">{{subjs.get_subject_credits}}.0 Créd.</td>
													</tr>

											{% endfor %}

												
											
											{% for minorsOthers, lstLstMcSubjs  in dicCredSubjs.course_subjs.miniCs_subjs.items %}

														{% for mc, lstMcSubjs  in lstLstMcSubjs %}

														{% if minorsOthers == "minor" and dicCredSubjs.course_subjs.miniCs_subjs.minor %} <!-- se houver minor-->
															<tr data-ano="{{ano}}toggle" class="cursos" bgcolor="beige" onclick="minicToggle('{{ano}}{{mc.get_miniCourse_name}}')" value="{{ano}}{{mc.get_miniCourse_name}}">
														{% else %}
														<tr data-ano="{{ano}}toggle" class="cursos" bgcolor="yellow" onclick="minicToggle('{{ano}}{{mc.get_miniCourse_name}}')" value="{{ano}}{{mc.get_miniCourse_name}}">
														{% endif %}
																		<td><em class="fa fa-align-justify">&nbsp;</em> </td>
																		<td><strong>{{mc.get_miniCourse_name}}</strong></td>
																		<td><strong>{{mc.formatarSem}}</strong></td>
																		<td><strong>Créd. necessarios: {{mc.credits_number}}.0 </strong></td>													
																	</tr>
																
													

																{% for subjs  in lstMcSubjs %}
																	<tr data-mcName="{{ano}}{{mc.get_miniCourse_name}}" style="display:none">
																		<td style="width:10%">
																		<div class="radio">
																		<label>
																		
																		<input type="checkbox" onclick="somarCred({{subjs.get_subject_credits}}, this)" name="subjsNameSemestre" id="{{subjs.get_subject_name}}|{{subjs.semester}}" value="{{subjs.get_subject_name}}|{{subjs.semester}}">
																			
																			
																		</label>
																		</div>
																		</td>
																		<td>
																		<h5>{{subjs.get_subject_name}}</h5>
																		<p>{{subjs.year}} ano, {{subjs.semester}} semestre</p>
																		</td>
																		<td>{{subjs.type}}</td>
																		<td>{{subjs.get_subject_credits}}.0 Créd.</td>
																		</tr>
																{% endfor %}

														{% endfor %}
											{% endfor %}

											<script>prepareTRs('{{ano}}')</script>
								{% endfor %}

								

							</tbody>
							</table>

							<br><br>
							<button id="submit" type="submit" style="float: right" class="btn btn-lg btn-primary">Submit Button</button>
							<button type="reset" class="btn btn-default">Reset Button</button>
						</fieldset>
					</form>
					<br><br>

				</div><!-- /.panel-->
			</div><!-- /.col-->




		</div>

	</div><!-- /.col-->
</div><!-- /.row -->
</div>

<script>
	var today = new Date();
	var anoAct = today.getFullYear();
	var mesAct = today.getMonth() + 1;
	var setembro = 9;
	var anoLectivo;
	if (mesAct >= setembro) {
		anoLectivo = anoAct + "/" + (anoAct + 1);
	} else {
		anoLectivo = (anoAct - 1) + "/" + anoAct;
	}
	document.getElementById("ano_lectivo_act").innerHTML = anoLectivo;


		//guardar temporariamente, assim se quizer mudar alguma opçao nao presisa de escolher todo novamente
	if(localStorage.getItem("UserSubjs") != undefined){
		var userSubjs = JSON.parse(localStorage.getItem("UserSubjs"))
		for (var i = 0; i<userSubjs.length; i++){
			$("input[id='"+userSubjs[i]+"']").prop("checked", true );
		}
	}

	$(document).ready(function () {
    $('#submit').click(function(evt) {
			var cadeirasEscolhidas= [];
			$.each($("input[name='subjsNameSemestre']:checked"), function () {
				cadeirasEscolhidas.push($(this).attr('id'))
			});
			var UserCadeirasEscolh= JSON.stringify(cadeirasEscolhidas);
			localStorage.setItem("UserSubjs", UserCadeirasEscolh);
	});
});

function somarCred(inputCred, inputObj){
	var oldCred= document.getElementById("totalCredEscolhidos").innerHTML;
	console.log(inputObj.checked)
	if (inputObj.checked) { //se activou
		var newCred= parseInt(oldCred) + inputCred
	}else{ // se desactivou
		var newCred= parseInt(oldCred) - inputCred
	}
	
	if (newCred > 72) {
		alert("No pode ultrapassar os 72 creditos! Neste momento tem: " + oldCred + " creditos.")
		inputObj.checked = false

	}else{
		document.getElementById("totalCredEscolhidos").innerHTML = newCred + ".0"
	}
}

//var anosCred= {{suCourse.course.credits_numberByYear_as_list|safe}};
//document.getElementById("credAprov").innerHTML = " " + anosCred[{{suCourse.anoActual}}-1][1] + ".0";

</script>

{% endblock %}