{% extends "student/base_s.html" %}
{% load i18n static %}

{% block title %}Inscriçoes{% endblock %}

{% block content_title %}Preencha o formulario:{% endblock %}

{% block breadcrumbs %}
        › Inscrição Curso
{% endblock %}


{% block content %}

<div id="content-main">


		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<!--<div class="panel-heading">Incrição</div>-->
					<div class="panel-body">
						<div class="col-md-12">
              <div>
                <p id="curso">Curso em que se Encontra Inscrito:<p>
                <p id="ano_curricular"> Ano Curricular:</p>
                <p id="ano_lectivo"> Ano Lectivo:</p>
                <p id="nCreditosInscrito"> Total de Créditos a que se Encontra Inscrito:</p>
              </div>
              <br><br>
							<form role="form" id="insert_disciplina">
                <p>Selecione as Disciplinas:</p>
                <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
                <input type="checkbox" name="vehicle" value="Car" checked="checked"> I have a car<br>
								<br><br>
								<button id="submit" type="submit" style="float: right" class="btn btn-lg btn-primary" onclick="addDisciplinas()" disabled>Submit Button</button>
								<button type="reset" class="btn btn-default">Reset Button</button>
							</form>
						</div>
					</div>
				</div><!-- /.panel-->
			</div><!-- /.col-->
		</div><!-- /.row -->
</div>

{% endblock %}
	