{% extends "student/base_s.html" %}
{% load i18n static %}
{% load university_mytags %}

{% block title %}Pedidos Mudança Turma{% endblock %}

{% block content_title %}Pedidos de mudança de turma{% endblock %}

{% block breadcrumbs %}
› Mudança de Turma
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

<style>
 .incognito{
 	/* visibility: hidden; */
  /* display: none; */
 }

 .begin{
   /*center object*/
   margin: auto;
   width: 35%;

 }
</style>



<script>

    $(document).ready(function(){
      $("#tabd").click(function(){
        $(".begin").css("display", "none");
        $(".incognito").css("display", "block");
        // $(".incognito").css("visibility", "visible");
        // $(".begin").css("visibility", "hidden");
      });
    });
  
  function sendRequest() {

  }

</script>


<div class="row" id="myrow">
    <h4 class="begin">Escolhe uma Disciplina: </h4>
          <div class="col-md-12">
              <div class="panel panel-default">
                
                  <div class="panel-body tabs">
                      <ul id="tabd" class="nav nav-tabs">
                          {% for obj in finalList %}
                            <li><a href={{obj.id}} data-toggle="tab">{{obj.subjectName}}</a></li>
                          {%endfor%}
                      </ul>
                      <div class="tab-content">
                          
                            {% for obj in finalList %}

                            <div class="tab-pane fade" id={{obj.idNoHashTag}}>
                              <div class="form-group">
                                <p>Regente da cadeira: {{obj.subjectRegente}}</p>
                              </div>

                              <br>
                                <!-- <h4>{{obj.subjectName}}</h4> -->
                                <p>1. Seleciona a Turma ATUAL:</p>
                                {% for elem in obj.classes %}
                                  <button type="button" class="btn btn-sm btn-default cenasMinhas">{{ elem.0 }}</button>
                                {%endfor%}

                                <div class="incognito">
                                  <br>
                                  <p>2. Seleciona a turma para onde pretendes MUDAR:</p>
                                  <div class="form-group" style="margin-left: 10%">
                                    {% for elem in obj.classest %}
                                          <div class="radio" id={{obj.idNoHashTagRadio}}>
                                            <div>
                                              <input type="radio" name="{{obj.id}}" id="optionsRadios+{{obj.id}}" value="option+{{obj.id}}">{{ elem }}
                                              <!-- <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" -->
                                            </div>
                                          </div>
                                    {%endfor%}
                                </div>
                              </div>
                            </div>
                          {%endfor%}
                      </div>
                  <button style="float: right; margin: 20px" class="btn btn-lg btn-primary" onclick="sendRequest()">Submit Request</button>
              </div>
          </div>
  </div><!--/.row-->

  <!-- <h1>TESTE</h1>
    {% if turmasEscolha %}
      {% for key, value in turmasEscolha.items %}
          <!-- <li><a href="{{key}}">{{value}}</a></li>
          <p>{{ key }}</p>
          <p>{{ value }}</p>
      {% endfor %}
  {% endif %}
<p> -------- </p>
  {% if regDict %}
      {% for key, value in regDict.items %}
        <p>{{ key }}</p>
        <p>{{ value }}</p>
      {% endfor %}
    {% endif %} -->





  <script>
      $(document).ready(function(){
        console.log($('a[href="#tab1"]').html())
        $('li:has(a[href="#tab1"])').addClass('active')
        $('#tab1').addClass('in')
        $('#tab1').addClass('active')

    });

  </script>

{% endblock %}

